docs/n8n/news-scenarios-workflow.json
{
  "name": "DriverLab — Escenarios de Noticias",
  "nodes": [
    {
      "name": "Daily 6am SV",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1180,
        -80
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 6 * * *"
            }
          ]
        }
      }
    },
    {
      "name": "Manual Run Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1180,
        120
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "driverlab-news-run",
        "responseMode": "onReceived",
        "options": {}
      }
    },
    {
      "name": "RSS Accidentes",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        -960,
        -220
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput",
      "parameters": {
        "url": "https://news.google.com/rss/search?q=%22accidente%20de%20tr%C3%A1nsito%22%20El%20Salvador%20when%3A2d&hl=es-419&gl=SV&ceid=SV:es-419",
        "options": {}
      }
    },
    {
      "name": "RSS Seguridad Vial",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        -960,
        -80
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput",
      "parameters": {
        "url": "https://news.google.com/rss/search?q=(%22seguridad%20vial%22%20OR%20%22ley%20de%20tr%C3%A1nsito%22%20OR%20VMT)%20El%20Salvador%20when%3A2d&hl=es-419&gl=SV&ceid=SV:es-419",
        "options": {}
      }
    },
    {
      "name": "RSS Vial General",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        -960,
        60
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput",
      "parameters": {
        "url": "https://news.google.com/rss/search?q=(carretera%20OR%20conductor%20OR%20motociclista%20OR%20peat%C3%B3n%20OR%20bus)%20El%20Salvador%20when%3A2d&hl=es-419&gl=SV&ceid=SV:es-419",
        "options": {}
      }
    },
    {
      "name": "RSS elsalvador.com",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        -960,
        200
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput",
      "parameters": {
        "url": "https://www.elsalvador.com/feed/",
        "options": {}
      }
    },
    {
      "name": "Merge Feeds",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -740,
        -80
      ],
      "alwaysOutputData": true,
      "parameters": {
        "mode": "append",
        "numberInputs": 4
      }
    },
    {
      "name": "Normalize Stories",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -560,
        -80
      ],
      "alwaysOutputData": true,
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "\nconst now = Date.now();\nconst seen = new Set();\nconst stories = [];\nfor (const item of $input.all()) {\n  const j = item.json || {};\n  let title = String(j.title || '').trim();\n  const link = String(j.link || '').trim();\n  if (!title || !link || !/^https?:/i.test(link)) continue;\n  const pub = j.isoDate || j.pubDate || null;\n  const pubMs = pub ? Date.parse(pub) : NaN;\n  if (Number.isFinite(pubMs) && now - pubMs > 48 * 3600 * 1000) continue;\n  let source = String(j.creator || j.author || '').trim();\n  const dashIdx = title.lastIndexOf(' - ');\n  if (dashIdx > 10) {\n    const suffix = title.slice(dashIdx + 3).trim();\n    if (!source) source = suffix;\n    if (suffix === source) title = title.slice(0, dashIdx).trim();\n  }\n  if (!source) {\n    try { source = new URL(link).hostname.replace(/^www\\./, ''); } catch (e) { source = 'Google News'; }\n  }\n  const rawSummary = String(j.contentSnippet || j.content || j.description || j.summary || '');\n  const summary = rawSummary.replace(/<[^>]*>/g, ' ').replace(/\\s+/g, ' ').trim().slice(0, 600);\n  const urlKey = link.toLowerCase();\n  const titleKey = title.toLowerCase().replace(/[^a-z0-9áéíóúñü]+/g, ' ').trim();\n  if (seen.has(urlKey) || (titleKey && seen.has(titleKey))) continue;\n  seen.add(urlKey);\n  if (titleKey) seen.add(titleKey);\n  stories.push({\n    news_title: title.slice(0, 300),\n    news_url: link,\n    news_source: source.slice(0, 120),\n    news_published_at: Number.isFinite(pubMs) ? new Date(pubMs).toISOString() : null,\n    news_summary: summary || null,\n  });\n  if (stories.length >= 25) break;\n}\nreturn [{ json: { stories: stories } }];\n"
      }
    },
    {
      "name": "Fetch Seen URLs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -380,
        -80
      ],
      "alwaysOutputData": true,
      "parameters": {
        "method": "GET",
        "url": "https://ompcrnwvtdjdwrcoopkh.supabase.co/rest/v1/news_scenarios?select=news_url",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "options": {
          "timeout": 60000
        }
      },
      "credentials": {
        "supabaseApi": {
          "id": "__SUPABASE_CRED_ID__",
          "name": "DriverLab Supabase"
        }
      }
    },
    {
      "name": "Fetch Templates",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -200,
        -80
      ],
      "alwaysOutputData": true,
      "parameters": {
        "method": "GET",
        "url": "https://ompcrnwvtdjdwrcoopkh.supabase.co/rest/v1/scenario_templates?select=id,pattern,module_id,lesson_ids,definition",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "options": {
          "timeout": 60000
        }
      },
      "credentials": {
        "supabaseApi": {
          "id": "__SUPABASE_CRED_ID__",
          "name": "DriverLab Supabase"
        }
      }
    },
    {
      "name": "Prep Triage",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -20,
        -80
      ],
      "alwaysOutputData": true,
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "\nconst CONTRACT = {\"version\":1,\"generatedAt\":\"2026-07-05T06:54:51.376Z\",\"patterns\":[{\"pattern\":\"stop_intersection\",\"hasTemplate\":true,\"fallbackPattern\":\"stop_intersection\"},{\"pattern\":\"document_checkpoint\",\"hasTemplate\":true,\"fallbackPattern\":\"document_checkpoint\"},{\"pattern\":\"vehicle_safety_rain\",\"hasTemplate\":true,\"fallbackPattern\":\"vehicle_safety_rain\"},{\"pattern\":\"traffic_light_decision\",\"hasTemplate\":true,\"fallbackPattern\":\"traffic_light_decision\"},{\"pattern\":\"pedestrian_crossing\",\"hasTemplate\":true,\"fallbackPattern\":\"pedestrian_crossing\"},{\"pattern\":\"unsafe_lane_change\",\"hasTemplate\":true,\"fallbackPattern\":\"unsafe_lane_change\"},{\"pattern\":\"phone_distraction\",\"hasTemplate\":true,\"fallbackPattern\":\"phone_distraction\"},{\"pattern\":\"bus_stop_hazard\",\"hasTemplate\":true,\"fallbackPattern\":\"bus_stop_hazard\"},{\"pattern\":\"motorcycle_awareness\",\"hasTemplate\":true,\"fallbackPattern\":\"motorcycle_awareness\"},{\"pattern\":\"roundabout_priority\",\"hasTemplate\":true,\"fallbackPattern\":\"roundabout_priority\"},{\"pattern\":\"safe_following_distance\",\"hasTemplate\":false,\"fallbackPattern\":\"vehicle_safety_rain\"},{\"pattern\":\"speed_low_visibility\",\"hasTemplate\":false,\"fallbackPattern\":\"vehicle_safety_rain\"},{\"pattern\":\"unsafe_overtake\",\"hasTemplate\":false,\"fallbackPattern\":\"unsafe_lane_change\"}],\"modules\":{\"01-fundamentos-legales\":{\"lessonIds\":[\"01-fundamentos-legales:deber-de-obedecer\",\"01-fundamentos-legales:responsabilidad-preventiva\"],\"templateId\":\"scenario_fundamentos_legales_alto_001\",\"templatePattern\":\"stop_intersection\"},\"02-licencia-y-documentos\":{\"lessonIds\":[\"02-licencia-y-documentos:habilitacion\",\"02-licencia-y-documentos:documentos-obligatorios\"],\"templateId\":\"scenario_licencia_documentos_control_001\",\"templatePattern\":\"document_checkpoint\"},\"03-vehiculo-seguro\":{\"lessonIds\":[\"03-vehiculo-seguro:revision-preventiva\",\"03-vehiculo-seguro:neumaticos-y-frenos\"],\"templateId\":\"scenario_vehiculo_seguro_lluvia_001\",\"templatePattern\":\"vehicle_safety_rain\"},\"04-reglas-de-circulacion\":{\"lessonIds\":[\"04-reglas-de-circulacion:semaforos\",\"04-reglas-de-circulacion:control-de-interseccion\"],\"templateId\":\"scenario_reglas_circulacion_semaforo_001\",\"templatePattern\":\"traffic_light_decision\"},\"05-peatones-y-usuarios-vulnerables\":{\"lessonIds\":[\"05-peatones-y-usuarios-vulnerables:prioridad-peatonal\",\"05-peatones-y-usuarios-vulnerables:anticipacion\"],\"templateId\":\"scenario_peatones_cruce_001\",\"templatePattern\":\"pedestrian_crossing\"},\"06-senalizacion-vial\":{\"lessonIds\":[\"06-senalizacion-vial:senales-reglamentacion\",\"06-senalizacion-vial:marcas-viales\"],\"templateId\":\"scenario_senalizacion_alto_001\",\"templatePattern\":\"stop_intersection\"},\"07-conduccion-defensiva\":{\"lessonIds\":[\"07-conduccion-defensiva:punto-ciego\",\"07-conduccion-defensiva:anticipar-error-ajeno\"],\"templateId\":\"scenario_conduccion_defensiva_punto_ciego_001\",\"templatePattern\":\"unsafe_lane_change\"},\"08-riesgos-que-matan\":{\"lessonIds\":[\"08-riesgos-que-matan:distraccion\",\"08-riesgos-que-matan:tiempo-de-reaccion\"],\"templateId\":\"scenario_riesgos_que_matan_distraccion_001\",\"templatePattern\":\"phone_distraction\"},\"09-infracciones-y-consecuencias\":{\"lessonIds\":[\"09-infracciones-y-consecuencias:evidencia\",\"09-infracciones-y-consecuencias:sancion\"],\"templateId\":\"scenario_infracciones_consecuencias_rojo_001\",\"templatePattern\":\"traffic_light_decision\"},\"10-transporte-publico-y-pasajeros\":{\"lessonIds\":[\"10-transporte-publico-y-pasajeros:bus-detenido\",\"10-transporte-publico-y-pasajeros:usuarios-vulnerables\"],\"templateId\":\"scenario_transporte_publico_bus_001\",\"templatePattern\":\"bus_stop_hazard\"},\"11-motociclistas\":{\"lessonIds\":[\"11-motociclistas:vulnerabilidad\",\"11-motociclistas:margen-lateral\"],\"templateId\":\"scenario_motociclistas_punto_ciego_001\",\"templatePattern\":\"motorcycle_awareness\"},\"12-practica-para-examen\":{\"lessonIds\":[\"12-practica-para-examen:prioridad-integrada\",\"12-practica-para-examen:decision-final\"],\"templateId\":\"scenario_practica_examen_redondel_001\",\"templatePattern\":\"roundabout_priority\"}},\"assets\":[{\"id\":\"asset_sedan\",\"type\":\"vehicle\",\"url\":\"/models/sedan.glb\"},{\"id\":\"asset_taxi\",\"type\":\"vehicle\",\"url\":\"/models/taxi.glb\"},{\"id\":\"asset_stop_sign\",\"type\":\"sign\",\"url\":\"/assets/signs/stop.glb\"},{\"id\":\"asset_police\",\"type\":\"vehicle\",\"url\":\"/models/police.glb\"},{\"id\":\"asset_cone\",\"type\":\"road_asset\",\"url\":\"/models/cone.glb\"},{\"id\":\"asset_hatchback\",\"type\":\"vehicle\",\"url\":\"/models/hatchback-sports.glb\"},{\"id\":\"asset_crosswalk\",\"type\":\"road_marking\",\"url\":\"/assets/road/crosswalk.glb\"},{\"id\":\"asset_pickup\",\"type\":\"vehicle\",\"url\":\"/models/truck.glb\"},{\"id\":\"asset_traffic_light\",\"type\":\"signal\",\"url\":\"/assets/signs/traffic-light.glb\"},{\"id\":\"asset_pedestrian\",\"type\":\"character\",\"url\":\"/models/cone.glb\"},{\"id\":\"asset_suv\",\"type\":\"vehicle\",\"url\":\"/models/suv.glb\"},{\"id\":\"asset_motorcycle\",\"type\":\"vehicle\",\"url\":\"/bike/low%20poly%20dirta%20bike%20with%20rider%201_FBX/DirtBike_With_Player.FBX\"},{\"id\":\"asset_truck\",\"type\":\"vehicle\",\"url\":\"/models/truck.glb\"},{\"id\":\"asset_bus\",\"type\":\"vehicle\",\"url\":\"/models/van.glb\"}],\"enums\":{\"environment\":[\"urban\",\"highway\",\"rural\"],\"weather\":[\"clear\",\"rain\",\"fog\"],\"timeOfDay\":[\"day\",\"dusk\",\"night\"],\"roadType\":[\"single_carriageway\",\"multi_lane_avenue\",\"roundabout\",\"intersection\"],\"cameraMode\":[\"fixed\",\"third_person_follow\",\"top_down\",\"cinematic\"],\"difficulty\":[\"basic\",\"intermediate\",\"advanced\"],\"actorRole\":[\"ego_vehicle\",\"offender_vehicle\",\"oncoming_vehicle\",\"traffic_vehicle\",\"pedestrian\",\"police_officer\"],\"actorTag\":[\"crossing\",\"lane_change\",\"stopped\",\"fast\",\"oncoming\",\"offender\",\"vulnerable\"]},\"limits\":{\"durationSeconds\":[10,60],\"actors\":[2,6],\"timelineEvents\":[1,12],\"options\":[3,4],\"estimatedMinutes\":[2,10],\"titleMaxChars\":70,\"optionLabelChars\":[8,120],\"fov\":[30,90],\"maxAbsCoordinate\":200},\"scoring\":{\"maxScore\":100,\"passScore\":70,\"metrics\":[{\"id\":\"decision\",\"label\":\"Decisión segura\",\"weight\":1}]},\"legalDocumentDefault\":\"Ley de Transporte Terrestre, Tránsito y Seguridad Vial\"};\n\nfunction rowsOf(nodeName) {\n  let raw = [];\n  try { raw = $(nodeName).all().map(function (i) { return i.json; }); } catch (e) { raw = []; }\n  const flat = [];\n  for (const r of raw) {\n    if (Array.isArray(r)) { for (const x of r) flat.push(x); }\n    else if (r && Array.isArray(r.data)) { for (const x of r.data) flat.push(x); }\n    else if (r && typeof r === 'object' && Object.keys(r).length > 0) flat.push(r);\n  }\n  return flat;\n}\n\nfunction parseOpenAI(json) {\n  try {\n    const content = json && json.choices && json.choices[0] && json.choices[0].message\n      ? json.choices[0].message.content : null;\n    if (!content) return null;\n    return JSON.parse(content);\n  } catch (e) { return null; }\n}\n\nfunction clampStr(value, max) {\n  const s = String(value == null ? '' : value).replace(/\\s+/g, ' ').trim();\n  return s.length > max ? s.slice(0, max - 1).trim() + '…' : s;\n}\n\nfunction strArray(value, min, max, itemMax) {\n  if (!Array.isArray(value)) return null;\n  const out = value\n    .filter(function (v) { return typeof v === 'string' && v.trim().length > 0; })\n    .map(function (v) { return clampStr(v, itemMax); })\n    .slice(0, max);\n  return out.length >= min ? out : null;\n}\n\nfunction sanitizeSlug(value) {\n  const s = String(value == null ? '' : value).toLowerCase()\n    .normalize('NFD').replace(/[\\u0300-\\u036f]/g, '')\n    .replace(/[^a-z0-9]+/g, '-').replace(/^-+|-+$/g, '').slice(0, 40);\n  return s || 'escenario';\n}\n\nfunction pad2(n) { return String(n).padStart(2, '0'); }\n\nfunction isVec3(v, maxAbs) {\n  return Array.isArray(v) && v.length === 3 && v.every(function (x) {\n    return typeof x === 'number' && Number.isFinite(x) && Math.abs(x) <= maxAbs;\n  });\n}\n\nfunction normalizeRefs(refs) {\n  const list = Array.isArray(refs) ? refs : [];\n  const out = list\n    .filter(function (r) { return r && typeof r === 'object'; })\n    .map(function (r) {\n      return {\n        jurisdiction: clampStr(r.jurisdiction || 'El Salvador', 60) || 'El Salvador',\n        document: clampStr(r.document || CONTRACT.legalDocumentDefault, 160) || CONTRACT.legalDocumentDefault,\n        ruleCategory: clampStr(r.ruleCategory || 'normas de circulación', 120) || 'normas de circulación',\n      };\n    })\n    .slice(0, 4);\n  if (out.length === 0) {\n    out.push({\n      jurisdiction: 'El Salvador',\n      document: CONTRACT.legalDocumentDefault,\n      ruleCategory: 'normas de circulación',\n    });\n  }\n  return out;\n}\n\n// Final gate: mirrors ScenarioDefinitionSchema + validateScenarioDefinition in\n// core/scenario-definition.ts. Bounds are relaxed enough for template data.\nfunction validateDefinition(def) {\n  const errors = [];\n  const err = function (m) { errors.push(m); };\n  if (!def || typeof def !== 'object') return ['definition is not an object'];\n  if (def.schemaVersion !== 'drivelab.scenario.v1') err('bad schemaVersion');\n  for (const k of ['id', 'slug', 'title', 'description']) {\n    if (typeof def[k] !== 'string' || def[k].trim().length === 0) err('missing ' + k);\n  }\n  const mb = def.moduleBinding || {};\n  if (!CONTRACT.modules[mb.moduleId]) err('unknown moduleId ' + mb.moduleId);\n  if (mb.isPrimaryScenario !== false) err('isPrimaryScenario must be false');\n  const learning = def.learning || {};\n  if (!Array.isArray(learning.lessonIds) || learning.lessonIds.length === 0) err('missing lessonIds');\n  if (!Array.isArray(learning.objectives) || learning.objectives.length === 0) err('missing objectives');\n  const fb = learning.feedback || {};\n  if (!fb.success || !fb.failure || !Array.isArray(fb.hints) || fb.hints.length === 0) err('bad feedback');\n  const sim = def.simulation || {};\n  const known = CONTRACT.patterns.some(function (p) { return p.pattern === sim.pattern; });\n  if (!known) err('unknown pattern ' + sim.pattern);\n  if (!(typeof sim.durationSeconds === 'number' && sim.durationSeconds > 0 && sim.durationSeconds <= 120)) err('bad durationSeconds');\n  const world = sim.world || {};\n  for (const k of ['environment', 'roadType', 'weather', 'timeOfDay']) {\n    if (typeof world[k] !== 'string' || world[k].length === 0) err('bad world.' + k);\n  }\n  if (world.units !== 'meters') err('world.units must be meters');\n  const cam = sim.camera || {};\n  if (CONTRACT.enums.cameraMode.indexOf(cam.mode) === -1) err('bad camera.mode');\n  if (!(typeof cam.fov === 'number' && cam.fov > 0 && cam.fov <= 120)) err('bad camera.fov');\n  if (!isVec3(cam.position, 1000) || !isVec3(cam.lookAt, 1000)) err('bad camera vectors');\n  const assets = Array.isArray(sim.assets) ? sim.assets : [];\n  if (assets.length === 0) err('no assets');\n  const assetIds = new Set();\n  for (const a of assets) {\n    if (!a || !a.id || !a.type || !a.url) err('bad asset entry');\n    else if (assetIds.has(a.id)) err('duplicate asset id ' + a.id);\n    else assetIds.add(a.id);\n  }\n  const actors = Array.isArray(sim.actors) ? sim.actors : [];\n  if (actors.length === 0 || actors.length > 8) err('bad actor count');\n  const actorIds = new Set();\n  for (const a of actors) {\n    if (!a || typeof a.id !== 'string' || a.id.length === 0) { err('bad actor id'); continue; }\n    if (actorIds.has(a.id)) err('duplicate actor id ' + a.id);\n    actorIds.add(a.id);\n    if (!assetIds.has(a.assetId)) err('actor ' + a.id + ' references missing asset ' + a.assetId);\n    if (typeof a.role !== 'string' || a.role.length === 0) err('actor ' + a.id + ' missing role');\n    if (!isVec3(a.initialPosition, 1000) || !isVec3(a.initialRotation, 1000) || !isVec3(a.scale, 1000)) {\n      err('actor ' + a.id + ' has bad vectors');\n    }\n    if (!Array.isArray(a.tags)) err('actor ' + a.id + ' tags must be array');\n  }\n  const interactions = Array.isArray(sim.interactions) ? sim.interactions : [];\n  if (interactions.length === 0) err('no interactions');\n  const interactionIds = new Set(interactions.map(function (i) { return i && i.id; }));\n  for (const inter of interactions) {\n    if (!inter || inter.type !== 'multiple_choice') { err('bad interaction type'); continue; }\n    if (!(typeof inter.appearsAt === 'number' && inter.appearsAt >= 0)) err('bad appearsAt');\n    if (typeof inter.prompt !== 'string' || inter.prompt.trim().length === 0) err('missing prompt');\n    const opts = Array.isArray(inter.options) ? inter.options : [];\n    if (opts.length < 2) err('needs >=2 options');\n    const optIds = new Set();\n    const labels = new Set();\n    let correctCount = 0;\n    for (const o of opts) {\n      if (!o || typeof o.id !== 'string' || typeof o.label !== 'string' || o.label.trim().length === 0) { err('bad option'); continue; }\n      if (optIds.has(o.id)) err('duplicate option id ' + o.id);\n      optIds.add(o.id);\n      const lkey = o.label.trim().toLowerCase();\n      if (labels.has(lkey)) err('duplicate option label');\n      labels.add(lkey);\n      if (typeof o.scoreDelta !== 'number') err('option missing scoreDelta');\n      if (o.isCorrect === true) correctCount += 1;\n    }\n    if (correctCount !== 1) err('needs exactly one correct option');\n    const correct = opts.find(function (o) { return o.id === inter.correctOptionId; });\n    if (!correct || correct.isCorrect !== true) err('correctOptionId mismatch');\n  }\n  const timeline = Array.isArray(sim.timeline) ? sim.timeline : [];\n  if (timeline.length === 0) err('no timeline events');\n  let hasTrigger = false;\n  for (const ev of timeline) {\n    if (!ev || typeof ev.id !== 'string') { err('bad timeline event'); continue; }\n    if (ev.type === 'animate_actor') {\n      if (ev.actorId && !actorIds.has(ev.actorId)) err('timeline event ' + ev.id + ' references missing actor');\n      if (ev.keyframes) {\n        let prev = -1;\n        for (const kf of ev.keyframes) {\n          if (!kf || typeof kf.t !== 'number' || kf.t < 0 || !isVec3(kf.value, 1000)) err('bad keyframe in ' + ev.id);\n          else { if (kf.t < prev) err('keyframes not ascending in ' + ev.id); prev = kf.t; }\n        }\n      }\n    } else if (ev.type === 'trigger') {\n      if (!(ev.trigger && ev.trigger.kind === 'show_interaction' && interactionIds.has(ev.trigger.interactionId))) {\n        err('bad trigger event ' + ev.id);\n      } else { hasTrigger = true; }\n      if (!(typeof ev.at === 'number' && ev.at >= 0)) err('trigger event ' + ev.id + ' missing at');\n    } else { err('unknown timeline event type'); }\n  }\n  if (!hasTrigger) err('no show_interaction trigger');\n  const scoring = def.scoring || {};\n  if (!(scoring.maxScore > 0 && scoring.passScore > 0 && scoring.passScore <= scoring.maxScore)) err('bad scoring');\n  if (!Array.isArray(scoring.metrics) || scoring.metrics.length === 0) err('missing scoring metrics');\n  const meta = def.metadata || {};\n  if (CONTRACT.enums.difficulty.indexOf(meta.difficulty) === -1) err('bad difficulty');\n  if (!(typeof meta.estimatedMinutes === 'number' && meta.estimatedMinutes > 0)) err('bad estimatedMinutes');\n  if (!Array.isArray(meta.tags)) err('bad tags');\n  if (!meta.createdAt || !meta.updatedAt) err('missing timestamps');\n  return errors;\n}\n\n// Strict contract checks for LLM-generated simulations (never applied to templates).\nfunction validateCandidateSim(sim) {\n  const errors = [];\n  const err = function (m) { errors.push(m); };\n  const L = CONTRACT.limits;\n  if (!sim || typeof sim !== 'object') return ['simulation missing'];\n  if (!CONTRACT.patterns.some(function (p) { return p.pattern === sim.pattern; })) err('pattern');\n  if (!(typeof sim.durationSeconds === 'number' && sim.durationSeconds >= L.durationSeconds[0] && sim.durationSeconds <= L.durationSeconds[1])) err('durationSeconds');\n  const world = sim.world || {};\n  if (CONTRACT.enums.environment.indexOf(world.environment) === -1) err('world.environment');\n  if (CONTRACT.enums.roadType.indexOf(world.roadType) === -1) err('world.roadType');\n  if (CONTRACT.enums.weather.indexOf(world.weather) === -1) err('world.weather');\n  if (CONTRACT.enums.timeOfDay.indexOf(world.timeOfDay) === -1) err('world.timeOfDay');\n  const cam = sim.camera || {};\n  if (CONTRACT.enums.cameraMode.indexOf(cam.mode) === -1) err('camera.mode');\n  if (!(typeof cam.fov === 'number' && cam.fov >= L.fov[0] && cam.fov <= L.fov[1])) err('camera.fov');\n  if (!isVec3(cam.position, L.maxAbsCoordinate) || !isVec3(cam.lookAt, L.maxAbsCoordinate)) err('camera vectors');\n  const specs = Array.isArray(sim.actorsSpec) ? sim.actorsSpec : [];\n  if (specs.length < L.actors[0] || specs.length > L.actors[1]) err('actor count');\n  const assetById = {};\n  for (const a of CONTRACT.assets) assetById[a.id] = a;\n  const ids = new Set();\n  let egoCount = 0;\n  for (const s of specs) {\n    if (!s || typeof s.id !== 'string' || !/^[a-z][a-z0-9_]*$/.test(s.id)) { err('actor id'); continue; }\n    if (ids.has(s.id)) err('duplicate actor id');\n    ids.add(s.id);\n    if (!assetById[s.assetId]) err('unknown assetId ' + s.assetId);\n    if (CONTRACT.enums.actorRole.indexOf(s.role) === -1) err('actor role ' + s.role);\n    if (s.role === 'ego_vehicle') egoCount += 1;\n    if (!isVec3(s.initialPosition, L.maxAbsCoordinate) || !isVec3(s.initialRotation, 720) || !isVec3(s.scale, 10)) err('actor vectors');\n    const tags = Array.isArray(s.tags) ? s.tags : [];\n    for (const t of tags) if (CONTRACT.enums.actorTag.indexOf(t) === -1) err('actor tag ' + t);\n  }\n  if (egoCount !== 1) err('needs exactly one ego_vehicle');\n  const timeline = Array.isArray(sim.timeline) ? sim.timeline : [];\n  if (timeline.length < L.timelineEvents[0] || timeline.length > L.timelineEvents[1]) err('timeline count');\n  const evIds = new Set();\n  for (const ev of timeline) {\n    if (!ev || typeof ev.id !== 'string' || ev.type !== 'animate_actor') { err('timeline event type'); continue; }\n    if (evIds.has(ev.id)) err('duplicate event id');\n    evIds.add(ev.id);\n    if (!ids.has(ev.actorId)) err('event actorId');\n    if (['position', 'rotation', 'scale'].indexOf(ev.track) === -1) err('event track');\n    const kfs = Array.isArray(ev.keyframes) ? ev.keyframes : [];\n    if (kfs.length < 2) err('needs >=2 keyframes');\n    let prev = -1;\n    for (const kf of kfs) {\n      if (!kf || typeof kf.t !== 'number' || kf.t < 0 || kf.t > sim.durationSeconds || !isVec3(kf.value, L.maxAbsCoordinate)) err('keyframe');\n      else { if (kf.t <= prev) err('keyframes not ascending'); prev = kf.t; }\n    }\n  }\n  const at = sim.interactionAppearsAt;\n  if (!(typeof at === 'number' && at >= 0 && at <= sim.durationSeconds)) err('interactionAppearsAt');\n  return errors;\n}\n\nfunction buildInteractionOptions(llmInteraction) {\n  if (!llmInteraction || typeof llmInteraction !== 'object') return null;\n  const prompt = clampStr(llmInteraction.prompt, 300);\n  if (prompt.length < 10) return null;\n  const raw = Array.isArray(llmInteraction.options) ? llmInteraction.options : [];\n  const cleaned = [];\n  const seenLabels = new Set();\n  for (const o of raw) {\n    if (!o || typeof o.label !== 'string') continue;\n    const label = clampStr(o.label, 160);\n    const key = label.toLowerCase();\n    if (label.length < 8 || seenLabels.has(key)) continue;\n    seenLabels.add(key);\n    cleaned.push({ label: label, isCorrect: o.isCorrect === true });\n  }\n  const correct = cleaned.filter(function (o) { return o.isCorrect; });\n  const wrong = cleaned.filter(function (o) { return !o.isCorrect; });\n  if (correct.length !== 1 || wrong.length < 1) return null;\n  return { prompt: prompt, correct: correct[0], wrong: wrong.slice(0, 3) };\n}\n\nfunction applyCommonFields(def, llm, story, dateStr, seq, mode) {\n  const moduleId = CONTRACT.modules[llm.moduleId] ? llm.moduleId : null;\n  if (!moduleId) return 'moduleId';\n  const slug = sanitizeSlug(llm.slug || llm.title);\n  def.schemaVersion = 'drivelab.scenario.v1';\n  def.id = 'scenario_news_' + dateStr + '_' + slug + '_' + pad2(seq);\n  def.slug = 'news-' + dateStr + '-' + slug + '-' + pad2(seq);\n  def.title = clampStr(llm.title, 90);\n  def.description = clampStr(llm.description, 400);\n  if (def.title.length < 10 || def.description.length < 30) return 'title/description';\n  def.moduleBinding = { moduleId: moduleId, isPrimaryScenario: false };\n  const objectives = strArray(llm.objectives, 1, 5, 300);\n  const fb = llm.feedback || {};\n  const hints = strArray(fb.hints, 1, 5, 300);\n  const success = clampStr(fb.success, 400);\n  const failure = clampStr(fb.failure, 400);\n  if (!objectives || !hints || success.length < 10 || failure.length < 10) return 'learning texts';\n  def.learning = {\n    lessonIds: CONTRACT.modules[moduleId].lessonIds.slice(),\n    objectives: objectives,\n    feedback: { success: success, failure: failure, hints: hints },\n    legalReferences: normalizeRefs(llm.legalReferences),\n  };\n  const now = new Date().toISOString();\n  const minutes = Number(llm.estimatedMinutes);\n  def.metadata = {\n    difficulty: CONTRACT.enums.difficulty.indexOf(llm.difficulty) === -1 ? 'intermediate' : llm.difficulty,\n    estimatedMinutes: Number.isInteger(minutes) && minutes >= CONTRACT.limits.estimatedMinutes[0] && minutes <= CONTRACT.limits.estimatedMinutes[1] ? minutes : 3,\n    tags: Array.from(new Set(['noticia'].concat(strArray(llm.tags, 0, 6, 40) || []))),\n    createdAt: now,\n    updatedAt: now,\n  };\n  def.scoring = JSON.parse(JSON.stringify(CONTRACT.scoring));\n  return null;\n}\n\nfunction buildOverlay(llm, story, template, dateStr, seq) {\n  if (!template) return { def: null, reason: 'no template for pattern' };\n  const def = JSON.parse(JSON.stringify(template.definition));\n  const commonError = applyCommonFields(def, llm, story, dateStr, seq, 'overlay');\n  if (commonError) return { def: null, reason: commonError };\n  const inter = def.simulation.interactions[0];\n  const parsedQuiz = buildInteractionOptions(llm.interaction);\n  if (!parsedQuiz) return { def: null, reason: 'interaction' };\n  const correctSlot = inter.options.find(function (o) { return o.id === inter.correctOptionId; });\n  if (!correctSlot) return { def: null, reason: 'template correct slot' };\n  const wrongSlots = inter.options.filter(function (o) { return o.id !== inter.correctOptionId; });\n  const rebuilt = [];\n  correctSlot.label = parsedQuiz.correct.label;\n  correctSlot.isCorrect = true;\n  rebuilt.push(correctSlot);\n  for (let i = 0; i < wrongSlots.length && i < parsedQuiz.wrong.length; i += 1) {\n    wrongSlots[i].label = parsedQuiz.wrong[i].label;\n    wrongSlots[i].isCorrect = false;\n    rebuilt.push(wrongSlots[i]);\n  }\n  if (rebuilt.length < 3) return { def: null, reason: 'not enough options' };\n  inter.options = rebuilt;\n  inter.prompt = parsedQuiz.prompt;\n  return { def: def, reason: null };\n}\n\nfunction buildNewSimulation(llm, story, dateStr, seq) {\n  const sim = llm.simulation;\n  const candidateErrors = validateCandidateSim(sim);\n  if (candidateErrors.length > 0) return { def: null, reason: 'candidate: ' + candidateErrors.slice(0, 3).join('; ') };\n  const parsedQuiz = buildInteractionOptions(llm.interaction);\n  if (!parsedQuiz) return { def: null, reason: 'interaction' };\n  const assetById = {};\n  for (const a of CONTRACT.assets) assetById[a.id] = a;\n  const usedAssetIds = Array.from(new Set(sim.actorsSpec.map(function (s) { return s.assetId; })));\n  const assets = usedAssetIds.map(function (id) { return JSON.parse(JSON.stringify(assetById[id])); });\n  const actors = sim.actorsSpec.map(function (s) {\n    return {\n      id: s.id,\n      assetId: s.assetId,\n      role: s.role,\n      initialPosition: s.initialPosition,\n      initialRotation: s.initialRotation,\n      scale: s.scale,\n      tags: Array.isArray(s.tags) ? s.tags : [],\n    };\n  });\n  const options = [{ id: 'opt_1', label: parsedQuiz.correct.label, isCorrect: true, scoreDelta: 100 }];\n  parsedQuiz.wrong.forEach(function (o, i) {\n    options.push({ id: 'opt_' + (i + 2), label: o.label, isCorrect: false, scoreDelta: -25 });\n  });\n  const interaction = {\n    id: 'interaction_main',\n    type: 'multiple_choice',\n    appearsAt: sim.interactionAppearsAt,\n    prompt: parsedQuiz.prompt,\n    options: options,\n    correctOptionId: 'opt_1',\n  };\n  const timeline = sim.timeline.map(function (ev) {\n    return {\n      id: ev.id,\n      type: 'animate_actor',\n      actorId: ev.actorId,\n      track: ev.track,\n      keyframes: ev.keyframes,\n      interpolation: ev.interpolation === 'smooth' ? 'smooth' : 'linear',\n    };\n  });\n  timeline.push({\n    id: 'ev_show_interaction',\n    type: 'trigger',\n    at: sim.interactionAppearsAt,\n    trigger: { kind: 'show_interaction', interactionId: 'interaction_main' },\n  });\n  const def = {};\n  const commonError = applyCommonFields(def, llm, story, dateStr, seq, 'new_simulation');\n  if (commonError) return { def: null, reason: commonError };\n  def.simulation = {\n    pattern: sim.pattern,\n    durationSeconds: sim.durationSeconds,\n    world: {\n      environment: sim.world.environment,\n      roadType: sim.world.roadType,\n      weather: sim.world.weather,\n      timeOfDay: sim.world.timeOfDay,\n      units: 'meters',\n    },\n    camera: {\n      mode: sim.camera.mode,\n      position: sim.camera.position,\n      lookAt: sim.camera.lookAt,\n      fov: sim.camera.fov,\n    },\n    assets: assets,\n    actors: actors,\n    timeline: timeline,\n    interactions: [interaction],\n  };\n  return { def: def, reason: null };\n}\n\nfunction templatesByPattern(templateRows) {\n  const map = {};\n  const sorted = templateRows.slice().sort(function (a, b) { return String(a.id).localeCompare(String(b.id)); });\n  for (const row of sorted) {\n    if (row && row.pattern && row.definition && !map[row.pattern]) map[row.pattern] = row;\n  }\n  return map;\n}\n\nfunction fallbackTemplate(pattern, tplMap) {\n  const entry = CONTRACT.patterns.find(function (p) { return p.pattern === pattern; });\n  if (!entry) return null;\n  return tplMap[entry.fallbackPattern] || tplMap[pattern] || null;\n}\n\nfunction buildScenarioRow(llm, story, tplMap, dateStr, seq) {\n  if (!llm || typeof llm !== 'object') return null;\n  const pattern = llm.pattern;\n  if (!CONTRACT.patterns.some(function (p) { return p.pattern === pattern; })) return null;\n  let mode = llm.mode === 'new_simulation' && llm.simulation ? 'new_simulation' : 'overlay';\n  let built = null;\n  if (mode === 'new_simulation') {\n    built = buildNewSimulation(llm, story, dateStr, seq);\n    if (!built.def) {\n      mode = 'overlay';\n      built = buildOverlay(llm, story, fallbackTemplate(pattern, tplMap), dateStr, seq);\n    }\n  } else {\n    built = buildOverlay(llm, story, fallbackTemplate(pattern, tplMap), dateStr, seq);\n  }\n  if (!built.def) return null;\n  const finalErrors = validateDefinition(built.def);\n  if (finalErrors.length > 0) return null;\n  return {\n    id: built.def.id,\n    definition: built.def,\n    generation_mode: mode,\n    news_title: story.news_title,\n    news_url: story.news_url,\n    news_source: story.news_source,\n    news_published_at: story.news_published_at,\n    news_summary: story.news_summary,\n  };\n}\n\nfunction todayDateStr() {\n  const d = new Date();\n  return String(d.getUTCFullYear()) + pad2(d.getUTCMonth() + 1) + pad2(d.getUTCDate());\n}\n\nlet stories = [];\ntry { stories = $('Normalize Stories').first().json.stories || []; } catch (e) { stories = []; }\nconst seenUrls = new Set(rowsOf('Fetch Seen URLs')\n  .map(function (r) { return String(r.news_url || '').toLowerCase(); })\n  .filter(Boolean));\nconst fresh = stories.filter(function (s) { return !seenUrls.has(String(s.news_url).toLowerCase()); });\nconst body = {\n  model: 'gpt-4.1-mini',\n  temperature: 0.2,\n  response_format: { type: 'json_object' },\n  messages: [\n    { role: 'system', content: \"Eres analista de noticias de tránsito de El Salvador para DriverLab, una app educativa de manejo. Recibes JSON {\\\"noticias\\\":[{\\\"index\\\":n,\\\"titulo\\\":\\\"...\\\",\\\"resumen\\\":\\\"...\\\",\\\"fuente\\\":\\\"...\\\"}]}. Devuelve SOLO JSON válido con esta forma exacta: {\\\"items\\\":[{\\\"index\\\":n,\\\"relevant\\\":true|false,\\\"score\\\":0-10,\\\"facts\\\":\\\"hechos clave observables o inferibles de la noticia\\\",\\\"themes\\\":[\\\"tema1\\\",\\\"tema2\\\"],\\\"pattern\\\":\\\"<pattern>\\\"|null,\\\"mode\\\":\\\"overlay\\\"|\\\"new_simulation\\\"}]}. pattern debe ser exactamente uno de: stop_intersection, document_checkpoint, vehicle_safety_rain, traffic_light_decision, pedestrian_crossing, unsafe_lane_change, phone_distraction, bus_stop_hazard, motorcycle_awareness, roundabout_priority, safe_following_distance, speed_low_visibility, unsafe_overtake. relevant=false (y pattern=null) si la noticia NO puede convertirse en una decisión de manejo concreta (política pura, deportes, sucesos sin componente vial). mode=\\\"new_simulation\\\" SOLO si la situación espacial de la noticia no se puede expresar con una plantilla estándar del pattern; en caso de duda usa \\\"overlay\\\". score alto = noticia más concreta y pedagógicamente útil. Incluye un item por cada noticia recibida.\" },\n    {\n      role: 'user',\n      content: JSON.stringify({\n        noticias: fresh.map(function (s, i) {\n          return { index: i, titulo: s.news_title, resumen: s.news_summary || '', fuente: s.news_source };\n        }),\n      }),\n    },\n  ],\n};\nreturn [{ json: { body: body, fresh: fresh, allStories: stories } }];\n"
      }
    },
    {
      "name": "OpenAI Triage",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        160,
        -80
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.body) }}",
        "options": {
          "timeout": 180000
        }
      },
      "credentials": {
        "openAiApi": {
          "id": "__OPENAI_CRED_ID__",
          "name": "DriverLab OpenAI"
        }
      }
    },
    {
      "name": "Prep Generate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        340,
        -80
      ],
      "alwaysOutputData": true,
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "\nconst CONTRACT = {\"version\":1,\"generatedAt\":\"2026-07-05T06:54:51.376Z\",\"patterns\":[{\"pattern\":\"stop_intersection\",\"hasTemplate\":true,\"fallbackPattern\":\"stop_intersection\"},{\"pattern\":\"document_checkpoint\",\"hasTemplate\":true,\"fallbackPattern\":\"document_checkpoint\"},{\"pattern\":\"vehicle_safety_rain\",\"hasTemplate\":true,\"fallbackPattern\":\"vehicle_safety_rain\"},{\"pattern\":\"traffic_light_decision\",\"hasTemplate\":true,\"fallbackPattern\":\"traffic_light_decision\"},{\"pattern\":\"pedestrian_crossing\",\"hasTemplate\":true,\"fallbackPattern\":\"pedestrian_crossing\"},{\"pattern\":\"unsafe_lane_change\",\"hasTemplate\":true,\"fallbackPattern\":\"unsafe_lane_change\"},{\"pattern\":\"phone_distraction\",\"hasTemplate\":true,\"fallbackPattern\":\"phone_distraction\"},{\"pattern\":\"bus_stop_hazard\",\"hasTemplate\":true,\"fallbackPattern\":\"bus_stop_hazard\"},{\"pattern\":\"motorcycle_awareness\",\"hasTemplate\":true,\"fallbackPattern\":\"motorcycle_awareness\"},{\"pattern\":\"roundabout_priority\",\"hasTemplate\":true,\"fallbackPattern\":\"roundabout_priority\"},{\"pattern\":\"safe_following_distance\",\"hasTemplate\":false,\"fallbackPattern\":\"vehicle_safety_rain\"},{\"pattern\":\"speed_low_visibility\",\"hasTemplate\":false,\"fallbackPattern\":\"vehicle_safety_rain\"},{\"pattern\":\"unsafe_overtake\",\"hasTemplate\":false,\"fallbackPattern\":\"unsafe_lane_change\"}],\"modules\":{\"01-fundamentos-legales\":{\"lessonIds\":[\"01-fundamentos-legales:deber-de-obedecer\",\"01-fundamentos-legales:responsabilidad-preventiva\"],\"templateId\":\"scenario_fundamentos_legales_alto_001\",\"templatePattern\":\"stop_intersection\"},\"02-licencia-y-documentos\":{\"lessonIds\":[\"02-licencia-y-documentos:habilitacion\",\"02-licencia-y-documentos:documentos-obligatorios\"],\"templateId\":\"scenario_licencia_documentos_control_001\",\"templatePattern\":\"document_checkpoint\"},\"03-vehiculo-seguro\":{\"lessonIds\":[\"03-vehiculo-seguro:revision-preventiva\",\"03-vehiculo-seguro:neumaticos-y-frenos\"],\"templateId\":\"scenario_vehiculo_seguro_lluvia_001\",\"templatePattern\":\"vehicle_safety_rain\"},\"04-reglas-de-circulacion\":{\"lessonIds\":[\"04-reglas-de-circulacion:semaforos\",\"04-reglas-de-circulacion:control-de-interseccion\"],\"templateId\":\"scenario_reglas_circulacion_semaforo_001\",\"templatePattern\":\"traffic_light_decision\"},\"05-peatones-y-usuarios-vulnerables\":{\"lessonIds\":[\"05-peatones-y-usuarios-vulnerables:prioridad-peatonal\",\"05-peatones-y-usuarios-vulnerables:anticipacion\"],\"templateId\":\"scenario_peatones_cruce_001\",\"templatePattern\":\"pedestrian_crossing\"},\"06-senalizacion-vial\":{\"lessonIds\":[\"06-senalizacion-vial:senales-reglamentacion\",\"06-senalizacion-vial:marcas-viales\"],\"templateId\":\"scenario_senalizacion_alto_001\",\"templatePattern\":\"stop_intersection\"},\"07-conduccion-defensiva\":{\"lessonIds\":[\"07-conduccion-defensiva:punto-ciego\",\"07-conduccion-defensiva:anticipar-error-ajeno\"],\"templateId\":\"scenario_conduccion_defensiva_punto_ciego_001\",\"templatePattern\":\"unsafe_lane_change\"},\"08-riesgos-que-matan\":{\"lessonIds\":[\"08-riesgos-que-matan:distraccion\",\"08-riesgos-que-matan:tiempo-de-reaccion\"],\"templateId\":\"scenario_riesgos_que_matan_distraccion_001\",\"templatePattern\":\"phone_distraction\"},\"09-infracciones-y-consecuencias\":{\"lessonIds\":[\"09-infracciones-y-consecuencias:evidencia\",\"09-infracciones-y-consecuencias:sancion\"],\"templateId\":\"scenario_infracciones_consecuencias_rojo_001\",\"templatePattern\":\"traffic_light_decision\"},\"10-transporte-publico-y-pasajeros\":{\"lessonIds\":[\"10-transporte-publico-y-pasajeros:bus-detenido\",\"10-transporte-publico-y-pasajeros:usuarios-vulnerables\"],\"templateId\":\"scenario_transporte_publico_bus_001\",\"templatePattern\":\"bus_stop_hazard\"},\"11-motociclistas\":{\"lessonIds\":[\"11-motociclistas:vulnerabilidad\",\"11-motociclistas:margen-lateral\"],\"templateId\":\"scenario_motociclistas_punto_ciego_001\",\"templatePattern\":\"motorcycle_awareness\"},\"12-practica-para-examen\":{\"lessonIds\":[\"12-practica-para-examen:prioridad-integrada\",\"12-practica-para-examen:decision-final\"],\"templateId\":\"scenario_practica_examen_redondel_001\",\"templatePattern\":\"roundabout_priority\"}},\"assets\":[{\"id\":\"asset_sedan\",\"type\":\"vehicle\",\"url\":\"/models/sedan.glb\"},{\"id\":\"asset_taxi\",\"type\":\"vehicle\",\"url\":\"/models/taxi.glb\"},{\"id\":\"asset_stop_sign\",\"type\":\"sign\",\"url\":\"/assets/signs/stop.glb\"},{\"id\":\"asset_police\",\"type\":\"vehicle\",\"url\":\"/models/police.glb\"},{\"id\":\"asset_cone\",\"type\":\"road_asset\",\"url\":\"/models/cone.glb\"},{\"id\":\"asset_hatchback\",\"type\":\"vehicle\",\"url\":\"/models/hatchback-sports.glb\"},{\"id\":\"asset_crosswalk\",\"type\":\"road_marking\",\"url\":\"/assets/road/crosswalk.glb\"},{\"id\":\"asset_pickup\",\"type\":\"vehicle\",\"url\":\"/models/truck.glb\"},{\"id\":\"asset_traffic_light\",\"type\":\"signal\",\"url\":\"/assets/signs/traffic-light.glb\"},{\"id\":\"asset_pedestrian\",\"type\":\"character\",\"url\":\"/models/cone.glb\"},{\"id\":\"asset_suv\",\"type\":\"vehicle\",\"url\":\"/models/suv.glb\"},{\"id\":\"asset_motorcycle\",\"type\":\"vehicle\",\"url\":\"/bike/low%20poly%20dirta%20bike%20with%20rider%201_FBX/DirtBike_With_Player.FBX\"},{\"id\":\"asset_truck\",\"type\":\"vehicle\",\"url\":\"/models/truck.glb\"},{\"id\":\"asset_bus\",\"type\":\"vehicle\",\"url\":\"/models/van.glb\"}],\"enums\":{\"environment\":[\"urban\",\"highway\",\"rural\"],\"weather\":[\"clear\",\"rain\",\"fog\"],\"timeOfDay\":[\"day\",\"dusk\",\"night\"],\"roadType\":[\"single_carriageway\",\"multi_lane_avenue\",\"roundabout\",\"intersection\"],\"cameraMode\":[\"fixed\",\"third_person_follow\",\"top_down\",\"cinematic\"],\"difficulty\":[\"basic\",\"intermediate\",\"advanced\"],\"actorRole\":[\"ego_vehicle\",\"offender_vehicle\",\"oncoming_vehicle\",\"traffic_vehicle\",\"pedestrian\",\"police_officer\"],\"actorTag\":[\"crossing\",\"lane_change\",\"stopped\",\"fast\",\"oncoming\",\"offender\",\"vulnerable\"]},\"limits\":{\"durationSeconds\":[10,60],\"actors\":[2,6],\"timelineEvents\":[1,12],\"options\":[3,4],\"estimatedMinutes\":[2,10],\"titleMaxChars\":70,\"optionLabelChars\":[8,120],\"fov\":[30,90],\"maxAbsCoordinate\":200},\"scoring\":{\"maxScore\":100,\"passScore\":70,\"metrics\":[{\"id\":\"decision\",\"label\":\"Decisión segura\",\"weight\":1}]},\"legalDocumentDefault\":\"Ley de Transporte Terrestre, Tránsito y Seguridad Vial\"};\n\nfunction rowsOf(nodeName) {\n  let raw = [];\n  try { raw = $(nodeName).all().map(function (i) { return i.json; }); } catch (e) { raw = []; }\n  const flat = [];\n  for (const r of raw) {\n    if (Array.isArray(r)) { for (const x of r) flat.push(x); }\n    else if (r && Array.isArray(r.data)) { for (const x of r.data) flat.push(x); }\n    else if (r && typeof r === 'object' && Object.keys(r).length > 0) flat.push(r);\n  }\n  return flat;\n}\n\nfunction parseOpenAI(json) {\n  try {\n    const content = json && json.choices && json.choices[0] && json.choices[0].message\n      ? json.choices[0].message.content : null;\n    if (!content) return null;\n    return JSON.parse(content);\n  } catch (e) { return null; }\n}\n\nfunction clampStr(value, max) {\n  const s = String(value == null ? '' : value).replace(/\\s+/g, ' ').trim();\n  return s.length > max ? s.slice(0, max - 1).trim() + '…' : s;\n}\n\nfunction strArray(value, min, max, itemMax) {\n  if (!Array.isArray(value)) return null;\n  const out = value\n    .filter(function (v) { return typeof v === 'string' && v.trim().length > 0; })\n    .map(function (v) { return clampStr(v, itemMax); })\n    .slice(0, max);\n  return out.length >= min ? out : null;\n}\n\nfunction sanitizeSlug(value) {\n  const s = String(value == null ? '' : value).toLowerCase()\n    .normalize('NFD').replace(/[\\u0300-\\u036f]/g, '')\n    .replace(/[^a-z0-9]+/g, '-').replace(/^-+|-+$/g, '').slice(0, 40);\n  return s || 'escenario';\n}\n\nfunction pad2(n) { return String(n).padStart(2, '0'); }\n\nfunction isVec3(v, maxAbs) {\n  return Array.isArray(v) && v.length === 3 && v.every(function (x) {\n    return typeof x === 'number' && Number.isFinite(x) && Math.abs(x) <= maxAbs;\n  });\n}\n\nfunction normalizeRefs(refs) {\n  const list = Array.isArray(refs) ? refs : [];\n  const out = list\n    .filter(function (r) { return r && typeof r === 'object'; })\n    .map(function (r) {\n      return {\n        jurisdiction: clampStr(r.jurisdiction || 'El Salvador', 60) || 'El Salvador',\n        document: clampStr(r.document || CONTRACT.legalDocumentDefault, 160) || CONTRACT.legalDocumentDefault,\n        ruleCategory: clampStr(r.ruleCategory || 'normas de circulación', 120) || 'normas de circulación',\n      };\n    })\n    .slice(0, 4);\n  if (out.length === 0) {\n    out.push({\n      jurisdiction: 'El Salvador',\n      document: CONTRACT.legalDocumentDefault,\n      ruleCategory: 'normas de circulación',\n    });\n  }\n  return out;\n}\n\n// Final gate: mirrors ScenarioDefinitionSchema + validateScenarioDefinition in\n// core/scenario-definition.ts. Bounds are relaxed enough for template data.\nfunction validateDefinition(def) {\n  const errors = [];\n  const err = function (m) { errors.push(m); };\n  if (!def || typeof def !== 'object') return ['definition is not an object'];\n  if (def.schemaVersion !== 'drivelab.scenario.v1') err('bad schemaVersion');\n  for (const k of ['id', 'slug', 'title', 'description']) {\n    if (typeof def[k] !== 'string' || def[k].trim().length === 0) err('missing ' + k);\n  }\n  const mb = def.moduleBinding || {};\n  if (!CONTRACT.modules[mb.moduleId]) err('unknown moduleId ' + mb.moduleId);\n  if (mb.isPrimaryScenario !== false) err('isPrimaryScenario must be false');\n  const learning = def.learning || {};\n  if (!Array.isArray(learning.lessonIds) || learning.lessonIds.length === 0) err('missing lessonIds');\n  if (!Array.isArray(learning.objectives) || learning.objectives.length === 0) err('missing objectives');\n  const fb = learning.feedback || {};\n  if (!fb.success || !fb.failure || !Array.isArray(fb.hints) || fb.hints.length === 0) err('bad feedback');\n  const sim = def.simulation || {};\n  const known = CONTRACT.patterns.some(function (p) { return p.pattern === sim.pattern; });\n  if (!known) err('unknown pattern ' + sim.pattern);\n  if (!(typeof sim.durationSeconds === 'number' && sim.durationSeconds > 0 && sim.durationSeconds <= 120)) err('bad durationSeconds');\n  const world = sim.world || {};\n  for (const k of ['environment', 'roadType', 'weather', 'timeOfDay']) {\n    if (typeof world[k] !== 'string' || world[k].length === 0) err('bad world.' + k);\n  }\n  if (world.units !== 'meters') err('world.units must be meters');\n  const cam = sim.camera || {};\n  if (CONTRACT.enums.cameraMode.indexOf(cam.mode) === -1) err('bad camera.mode');\n  if (!(typeof cam.fov === 'number' && cam.fov > 0 && cam.fov <= 120)) err('bad camera.fov');\n  if (!isVec3(cam.position, 1000) || !isVec3(cam.lookAt, 1000)) err('bad camera vectors');\n  const assets = Array.isArray(sim.assets) ? sim.assets : [];\n  if (assets.length === 0) err('no assets');\n  const assetIds = new Set();\n  for (const a of assets) {\n    if (!a || !a.id || !a.type || !a.url) err('bad asset entry');\n    else if (assetIds.has(a.id)) err('duplicate asset id ' + a.id);\n    else assetIds.add(a.id);\n  }\n  const actors = Array.isArray(sim.actors) ? sim.actors : [];\n  if (actors.length === 0 || actors.length > 8) err('bad actor count');\n  const actorIds = new Set();\n  for (const a of actors) {\n    if (!a || typeof a.id !== 'string' || a.id.length === 0) { err('bad actor id'); continue; }\n    if (actorIds.has(a.id)) err('duplicate actor id ' + a.id);\n    actorIds.add(a.id);\n    if (!assetIds.has(a.assetId)) err('actor ' + a.id + ' references missing asset ' + a.assetId);\n    if (typeof a.role !== 'string' || a.role.length === 0) err('actor ' + a.id + ' missing role');\n    if (!isVec3(a.initialPosition, 1000) || !isVec3(a.initialRotation, 1000) || !isVec3(a.scale, 1000)) {\n      err('actor ' + a.id + ' has bad vectors');\n    }\n    if (!Array.isArray(a.tags)) err('actor ' + a.id + ' tags must be array');\n  }\n  const interactions = Array.isArray(sim.interactions) ? sim.interactions : [];\n  if (interactions.length === 0) err('no interactions');\n  const interactionIds = new Set(interactions.map(function (i) { return i && i.id; }));\n  for (const inter of interactions) {\n    if (!inter || inter.type !== 'multiple_choice') { err('bad interaction type'); continue; }\n    if (!(typeof inter.appearsAt === 'number' && inter.appearsAt >= 0)) err('bad appearsAt');\n    if (typeof inter.prompt !== 'string' || inter.prompt.trim().length === 0) err('missing prompt');\n    const opts = Array.isArray(inter.options) ? inter.options : [];\n    if (opts.length < 2) err('needs >=2 options');\n    const optIds = new Set();\n    const labels = new Set();\n    let correctCount = 0;\n    for (const o of opts) {\n      if (!o || typeof o.id !== 'string' || typeof o.label !== 'string' || o.label.trim().length === 0) { err('bad option'); continue; }\n      if (optIds.has(o.id)) err('duplicate option id ' + o.id);\n      optIds.add(o.id);\n      const lkey = o.label.trim().toLowerCase();\n      if (labels.has(lkey)) err('duplicate option label');\n      labels.add(lkey);\n      if (typeof o.scoreDelta !== 'number') err('option missing scoreDelta');\n      if (o.isCorrect === true) correctCount += 1;\n    }\n    if (correctCount !== 1) err('needs exactly one correct option');\n    const correct = opts.find(function (o) { return o.id === inter.correctOptionId; });\n    if (!correct || correct.isCorrect !== true) err('correctOptionId mismatch');\n  }\n  const timeline = Array.isArray(sim.timeline) ? sim.timeline : [];\n  if (timeline.length === 0) err('no timeline events');\n  let hasTrigger = false;\n  for (const ev of timeline) {\n    if (!ev || typeof ev.id !== 'string') { err('bad timeline event'); continue; }\n    if (ev.type === 'animate_actor') {\n      if (ev.actorId && !actorIds.has(ev.actorId)) err('timeline event ' + ev.id + ' references missing actor');\n      if (ev.keyframes) {\n        let prev = -1;\n        for (const kf of ev.keyframes) {\n          if (!kf || typeof kf.t !== 'number' || kf.t < 0 || !isVec3(kf.value, 1000)) err('bad keyframe in ' + ev.id);\n          else { if (kf.t < prev) err('keyframes not ascending in ' + ev.id); prev = kf.t; }\n        }\n      }\n    } else if (ev.type === 'trigger') {\n      if (!(ev.trigger && ev.trigger.kind === 'show_interaction' && interactionIds.has(ev.trigger.interactionId))) {\n        err('bad trigger event ' + ev.id);\n      } else { hasTrigger = true; }\n      if (!(typeof ev.at === 'number' && ev.at >= 0)) err('trigger event ' + ev.id + ' missing at');\n    } else { err('unknown timeline event type'); }\n  }\n  if (!hasTrigger) err('no show_interaction trigger');\n  const scoring = def.scoring || {};\n  if (!(scoring.maxScore > 0 && scoring.passScore > 0 && scoring.passScore <= scoring.maxScore)) err('bad scoring');\n  if (!Array.isArray(scoring.metrics) || scoring.metrics.length === 0) err('missing scoring metrics');\n  const meta = def.metadata || {};\n  if (CONTRACT.enums.difficulty.indexOf(meta.difficulty) === -1) err('bad difficulty');\n  if (!(typeof meta.estimatedMinutes === 'number' && meta.estimatedMinutes > 0)) err('bad estimatedMinutes');\n  if (!Array.isArray(meta.tags)) err('bad tags');\n  if (!meta.createdAt || !meta.updatedAt) err('missing timestamps');\n  return errors;\n}\n\n// Strict contract checks for LLM-generated simulations (never applied to templates).\nfunction validateCandidateSim(sim) {\n  const errors = [];\n  const err = function (m) { errors.push(m); };\n  const L = CONTRACT.limits;\n  if (!sim || typeof sim !== 'object') return ['simulation missing'];\n  if (!CONTRACT.patterns.some(function (p) { return p.pattern === sim.pattern; })) err('pattern');\n  if (!(typeof sim.durationSeconds === 'number' && sim.durationSeconds >= L.durationSeconds[0] && sim.durationSeconds <= L.durationSeconds[1])) err('durationSeconds');\n  const world = sim.world || {};\n  if (CONTRACT.enums.environment.indexOf(world.environment) === -1) err('world.environment');\n  if (CONTRACT.enums.roadType.indexOf(world.roadType) === -1) err('world.roadType');\n  if (CONTRACT.enums.weather.indexOf(world.weather) === -1) err('world.weather');\n  if (CONTRACT.enums.timeOfDay.indexOf(world.timeOfDay) === -1) err('world.timeOfDay');\n  const cam = sim.camera || {};\n  if (CONTRACT.enums.cameraMode.indexOf(cam.mode) === -1) err('camera.mode');\n  if (!(typeof cam.fov === 'number' && cam.fov >= L.fov[0] && cam.fov <= L.fov[1])) err('camera.fov');\n  if (!isVec3(cam.position, L.maxAbsCoordinate) || !isVec3(cam.lookAt, L.maxAbsCoordinate)) err('camera vectors');\n  const specs = Array.isArray(sim.actorsSpec) ? sim.actorsSpec : [];\n  if (specs.length < L.actors[0] || specs.length > L.actors[1]) err('actor count');\n  const assetById = {};\n  for (const a of CONTRACT.assets) assetById[a.id] = a;\n  const ids = new Set();\n  let egoCount = 0;\n  for (const s of specs) {\n    if (!s || typeof s.id !== 'string' || !/^[a-z][a-z0-9_]*$/.test(s.id)) { err('actor id'); continue; }\n    if (ids.has(s.id)) err('duplicate actor id');\n    ids.add(s.id);\n    if (!assetById[s.assetId]) err('unknown assetId ' + s.assetId);\n    if (CONTRACT.enums.actorRole.indexOf(s.role) === -1) err('actor role ' + s.role);\n    if (s.role === 'ego_vehicle') egoCount += 1;\n    if (!isVec3(s.initialPosition, L.maxAbsCoordinate) || !isVec3(s.initialRotation, 720) || !isVec3(s.scale, 10)) err('actor vectors');\n    const tags = Array.isArray(s.tags) ? s.tags : [];\n    for (const t of tags) if (CONTRACT.enums.actorTag.indexOf(t) === -1) err('actor tag ' + t);\n  }\n  if (egoCount !== 1) err('needs exactly one ego_vehicle');\n  const timeline = Array.isArray(sim.timeline) ? sim.timeline : [];\n  if (timeline.length < L.timelineEvents[0] || timeline.length > L.timelineEvents[1]) err('timeline count');\n  const evIds = new Set();\n  for (const ev of timeline) {\n    if (!ev || typeof ev.id !== 'string' || ev.type !== 'animate_actor') { err('timeline event type'); continue; }\n    if (evIds.has(ev.id)) err('duplicate event id');\n    evIds.add(ev.id);\n    if (!ids.has(ev.actorId)) err('event actorId');\n    if (['position', 'rotation', 'scale'].indexOf(ev.track) === -1) err('event track');\n    const kfs = Array.isArray(ev.keyframes) ? ev.keyframes : [];\n    if (kfs.length < 2) err('needs >=2 keyframes');\n    let prev = -1;\n    for (const kf of kfs) {\n      if (!kf || typeof kf.t !== 'number' || kf.t < 0 || kf.t > sim.durationSeconds || !isVec3(kf.value, L.maxAbsCoordinate)) err('keyframe');\n      else { if (kf.t <= prev) err('keyframes not ascending'); prev = kf.t; }\n    }\n  }\n  const at = sim.interactionAppearsAt;\n  if (!(typeof at === 'number' && at >= 0 && at <= sim.durationSeconds)) err('interactionAppearsAt');\n  return errors;\n}\n\nfunction buildInteractionOptions(llmInteraction) {\n  if (!llmInteraction || typeof llmInteraction !== 'object') return null;\n  const prompt = clampStr(llmInteraction.prompt, 300);\n  if (prompt.length < 10) return null;\n  const raw = Array.isArray(llmInteraction.options) ? llmInteraction.options : [];\n  const cleaned = [];\n  const seenLabels = new Set();\n  for (const o of raw) {\n    if (!o || typeof o.label !== 'string') continue;\n    const label = clampStr(o.label, 160);\n    const key = label.toLowerCase();\n    if (label.length < 8 || seenLabels.has(key)) continue;\n    seenLabels.add(key);\n    cleaned.push({ label: label, isCorrect: o.isCorrect === true });\n  }\n  const correct = cleaned.filter(function (o) { return o.isCorrect; });\n  const wrong = cleaned.filter(function (o) { return !o.isCorrect; });\n  if (correct.length !== 1 || wrong.length < 1) return null;\n  return { prompt: prompt, correct: correct[0], wrong: wrong.slice(0, 3) };\n}\n\nfunction applyCommonFields(def, llm, story, dateStr, seq, mode) {\n  const moduleId = CONTRACT.modules[llm.moduleId] ? llm.moduleId : null;\n  if (!moduleId) return 'moduleId';\n  const slug = sanitizeSlug(llm.slug || llm.title);\n  def.schemaVersion = 'drivelab.scenario.v1';\n  def.id = 'scenario_news_' + dateStr + '_' + slug + '_' + pad2(seq);\n  def.slug = 'news-' + dateStr + '-' + slug + '-' + pad2(seq);\n  def.title = clampStr(llm.title, 90);\n  def.description = clampStr(llm.description, 400);\n  if (def.title.length < 10 || def.description.length < 30) return 'title/description';\n  def.moduleBinding = { moduleId: moduleId, isPrimaryScenario: false };\n  const objectives = strArray(llm.objectives, 1, 5, 300);\n  const fb = llm.feedback || {};\n  const hints = strArray(fb.hints, 1, 5, 300);\n  const success = clampStr(fb.success, 400);\n  const failure = clampStr(fb.failure, 400);\n  if (!objectives || !hints || success.length < 10 || failure.length < 10) return 'learning texts';\n  def.learning = {\n    lessonIds: CONTRACT.modules[moduleId].lessonIds.slice(),\n    objectives: objectives,\n    feedback: { success: success, failure: failure, hints: hints },\n    legalReferences: normalizeRefs(llm.legalReferences),\n  };\n  const now = new Date().toISOString();\n  const minutes = Number(llm.estimatedMinutes);\n  def.metadata = {\n    difficulty: CONTRACT.enums.difficulty.indexOf(llm.difficulty) === -1 ? 'intermediate' : llm.difficulty,\n    estimatedMinutes: Number.isInteger(minutes) && minutes >= CONTRACT.limits.estimatedMinutes[0] && minutes <= CONTRACT.limits.estimatedMinutes[1] ? minutes : 3,\n    tags: Array.from(new Set(['noticia'].concat(strArray(llm.tags, 0, 6, 40) || []))),\n    createdAt: now,\n    updatedAt: now,\n  };\n  def.scoring = JSON.parse(JSON.stringify(CONTRACT.scoring));\n  return null;\n}\n\nfunction buildOverlay(llm, story, template, dateStr, seq) {\n  if (!template) return { def: null, reason: 'no template for pattern' };\n  const def = JSON.parse(JSON.stringify(template.definition));\n  const commonError = applyCommonFields(def, llm, story, dateStr, seq, 'overlay');\n  if (commonError) return { def: null, reason: commonError };\n  const inter = def.simulation.interactions[0];\n  const parsedQuiz = buildInteractionOptions(llm.interaction);\n  if (!parsedQuiz) return { def: null, reason: 'interaction' };\n  const correctSlot = inter.options.find(function (o) { return o.id === inter.correctOptionId; });\n  if (!correctSlot) return { def: null, reason: 'template correct slot' };\n  const wrongSlots = inter.options.filter(function (o) { return o.id !== inter.correctOptionId; });\n  const rebuilt = [];\n  correctSlot.label = parsedQuiz.correct.label;\n  correctSlot.isCorrect = true;\n  rebuilt.push(correctSlot);\n  for (let i = 0; i < wrongSlots.length && i < parsedQuiz.wrong.length; i += 1) {\n    wrongSlots[i].label = parsedQuiz.wrong[i].label;\n    wrongSlots[i].isCorrect = false;\n    rebuilt.push(wrongSlots[i]);\n  }\n  if (rebuilt.length < 3) return { def: null, reason: 'not enough options' };\n  inter.options = rebuilt;\n  inter.prompt = parsedQuiz.prompt;\n  return { def: def, reason: null };\n}\n\nfunction buildNewSimulation(llm, story, dateStr, seq) {\n  const sim = llm.simulation;\n  const candidateErrors = validateCandidateSim(sim);\n  if (candidateErrors.length > 0) return { def: null, reason: 'candidate: ' + candidateErrors.slice(0, 3).join('; ') };\n  const parsedQuiz = buildInteractionOptions(llm.interaction);\n  if (!parsedQuiz) return { def: null, reason: 'interaction' };\n  const assetById = {};\n  for (const a of CONTRACT.assets) assetById[a.id] = a;\n  const usedAssetIds = Array.from(new Set(sim.actorsSpec.map(function (s) { return s.assetId; })));\n  const assets = usedAssetIds.map(function (id) { return JSON.parse(JSON.stringify(assetById[id])); });\n  const actors = sim.actorsSpec.map(function (s) {\n    return {\n      id: s.id,\n      assetId: s.assetId,\n      role: s.role,\n      initialPosition: s.initialPosition,\n      initialRotation: s.initialRotation,\n      scale: s.scale,\n      tags: Array.isArray(s.tags) ? s.tags : [],\n    };\n  });\n  const options = [{ id: 'opt_1', label: parsedQuiz.correct.label, isCorrect: true, scoreDelta: 100 }];\n  parsedQuiz.wrong.forEach(function (o, i) {\n    options.push({ id: 'opt_' + (i + 2), label: o.label, isCorrect: false, scoreDelta: -25 });\n  });\n  const interaction = {\n    id: 'interaction_main',\n    type: 'multiple_choice',\n    appearsAt: sim.interactionAppearsAt,\n    prompt: parsedQuiz.prompt,\n    options: options,\n    correctOptionId: 'opt_1',\n  };\n  const timeline = sim.timeline.map(function (ev) {\n    return {\n      id: ev.id,\n      type: 'animate_actor',\n      actorId: ev.actorId,\n      track: ev.track,\n      keyframes: ev.keyframes,\n      interpolation: ev.interpolation === 'smooth' ? 'smooth' : 'linear',\n    };\n  });\n  timeline.push({\n    id: 'ev_show_interaction',\n    type: 'trigger',\n    at: sim.interactionAppearsAt,\n    trigger: { kind: 'show_interaction', interactionId: 'interaction_main' },\n  });\n  const def = {};\n  const commonError = applyCommonFields(def, llm, story, dateStr, seq, 'new_simulation');\n  if (commonError) return { def: null, reason: commonError };\n  def.simulation = {\n    pattern: sim.pattern,\n    durationSeconds: sim.durationSeconds,\n    world: {\n      environment: sim.world.environment,\n      roadType: sim.world.roadType,\n      weather: sim.world.weather,\n      timeOfDay: sim.world.timeOfDay,\n      units: 'meters',\n    },\n    camera: {\n      mode: sim.camera.mode,\n      position: sim.camera.position,\n      lookAt: sim.camera.lookAt,\n      fov: sim.camera.fov,\n    },\n    assets: assets,\n    actors: actors,\n    timeline: timeline,\n    interactions: [interaction],\n  };\n  return { def: def, reason: null };\n}\n\nfunction templatesByPattern(templateRows) {\n  const map = {};\n  const sorted = templateRows.slice().sort(function (a, b) { return String(a.id).localeCompare(String(b.id)); });\n  for (const row of sorted) {\n    if (row && row.pattern && row.definition && !map[row.pattern]) map[row.pattern] = row;\n  }\n  return map;\n}\n\nfunction fallbackTemplate(pattern, tplMap) {\n  const entry = CONTRACT.patterns.find(function (p) { return p.pattern === pattern; });\n  if (!entry) return null;\n  return tplMap[entry.fallbackPattern] || tplMap[pattern] || null;\n}\n\nfunction buildScenarioRow(llm, story, tplMap, dateStr, seq) {\n  if (!llm || typeof llm !== 'object') return null;\n  const pattern = llm.pattern;\n  if (!CONTRACT.patterns.some(function (p) { return p.pattern === pattern; })) return null;\n  let mode = llm.mode === 'new_simulation' && llm.simulation ? 'new_simulation' : 'overlay';\n  let built = null;\n  if (mode === 'new_simulation') {\n    built = buildNewSimulation(llm, story, dateStr, seq);\n    if (!built.def) {\n      mode = 'overlay';\n      built = buildOverlay(llm, story, fallbackTemplate(pattern, tplMap), dateStr, seq);\n    }\n  } else {\n    built = buildOverlay(llm, story, fallbackTemplate(pattern, tplMap), dateStr, seq);\n  }\n  if (!built.def) return null;\n  const finalErrors = validateDefinition(built.def);\n  if (finalErrors.length > 0) return null;\n  return {\n    id: built.def.id,\n    definition: built.def,\n    generation_mode: mode,\n    news_title: story.news_title,\n    news_url: story.news_url,\n    news_source: story.news_source,\n    news_published_at: story.news_published_at,\n    news_summary: story.news_summary,\n  };\n}\n\nfunction todayDateStr() {\n  const d = new Date();\n  return String(d.getUTCFullYear()) + pad2(d.getUTCMonth() + 1) + pad2(d.getUTCDate());\n}\n\nconst triage = parseOpenAI($input.first().json) || { items: [] };\nconst prep = $('Prep Triage').first().json;\nconst fresh = prep.fresh || [];\nconst allStories = prep.allStories || [];\nconst patterns = CONTRACT.patterns.map(function (p) { return p.pattern; });\nconst rated = (Array.isArray(triage.items) ? triage.items : [])\n  .filter(function (t) {\n    return t && t.relevant === true && typeof t.index === 'number' && fresh[t.index]\n      && typeof t.score === 'number' && t.score >= 5 && patterns.indexOf(t.pattern) !== -1;\n  })\n  .sort(function (a, b) { return b.score - a.score; })\n  .slice(0, 15);\nconst selected = rated.map(function (t) {\n  return {\n    story: fresh[t.index],\n    facts: String(t.facts || ''),\n    themes: Array.isArray(t.themes) ? t.themes : [],\n    pattern: t.pattern,\n    mode: t.mode === 'new_simulation' ? 'new_simulation' : 'overlay',\n  };\n});\nconst themes = Array.from(new Set(\n  (Array.isArray(triage.items) ? triage.items : [])\n    .filter(function (t) { return t && t.relevant === true; })\n    .flatMap(function (t) { return Array.isArray(t.themes) ? t.themes : []; })\n    .map(function (t) { return String(t).slice(0, 60); }),\n)).slice(0, 12);\nconst body = {\n  model: 'gpt-4.1',\n  temperature: 0.7,\n  max_tokens: 16000,\n  response_format: { type: 'json_object' },\n  messages: [\n    { role: 'system', content: \"Eres el diseñador pedagógico de DriverLab, app salvadoreña para aprender a conducir con escenarios 3D. Convertís noticias de tránsito reales de El Salvador en escenarios de práctica. Recibirás JSON {\\\"historias\\\":[{\\\"index\\\":n,\\\"titulo\\\":\\\"...\\\",\\\"resumen\\\":\\\"...\\\",\\\"hechos\\\":\\\"...\\\",\\\"pattern\\\":\\\"...\\\",\\\"mode\\\":\\\"overlay\\\"|\\\"new_simulation\\\"}]}. Devolvé SOLO JSON válido: {\\\"items\\\":[...]} con un elemento por historia (omití las historias imposibles de convertir). TODO el texto en español de El Salvador, tono educativo, sin nombres reales de personas. Basate en la noticia; cuando falten detalles, inventá detalles plausibles coherentes con El Salvador. Cada item con mode \\\"overlay\\\" tiene esta forma exacta: {\\\"index\\\":n,\\\"mode\\\":\\\"overlay\\\",\\\"pattern\\\":\\\"<repetir el pattern asignado>\\\",\\\"slug\\\":\\\"kebab-corto-descriptivo\\\",\\\"title\\\":\\\"máx 70 caracteres\\\",\\\"description\\\":\\\"2-3 frases ancladas en la noticia\\\",\\\"moduleId\\\":\\\"<uno de: 01-fundamentos-legales, 02-licencia-y-documentos, 03-vehiculo-seguro, 04-reglas-de-circulacion, 05-peatones-y-usuarios-vulnerables, 06-senalizacion-vial, 07-conduccion-defensiva, 08-riesgos-que-matan, 09-infracciones-y-consecuencias, 10-transporte-publico-y-pasajeros, 11-motociclistas, 12-practica-para-examen>\\\",\\\"objectives\\\":[\\\"1 a 3 objetivos de aprendizaje\\\"],\\\"feedback\\\":{\\\"success\\\":\\\"qué hizo bien\\\",\\\"failure\\\":\\\"qué salió mal y por qué\\\",\\\"hints\\\":[\\\"1 a 3 pistas\\\"]},\\\"legalReferences\\\":[{\\\"jurisdiction\\\":\\\"El Salvador\\\",\\\"document\\\":\\\"Ley de Transporte Terrestre, Tránsito y Seguridad Vial\\\",\\\"ruleCategory\\\":\\\"categoría de la regla\\\"}],\\\"interaction\\\":{\\\"prompt\\\":\\\"pregunta de decisión en el momento crítico\\\",\\\"options\\\":[{\\\"label\\\":\\\"opción\\\",\\\"isCorrect\\\":true},{\\\"label\\\":\\\"opción\\\",\\\"isCorrect\\\":false},{\\\"label\\\":\\\"opción\\\",\\\"isCorrect\\\":false}]},\\\"difficulty\\\":\\\"basic|intermediate|advanced\\\",\\\"estimatedMinutes\\\":3,\\\"tags\\\":[\\\"noticia\\\",\\\"tema\\\"]}. Reglas del quiz: EXACTAMENTE una opción con isCorrect true, 3 o 4 opciones en total, labels de 8 a 120 caracteres, todas distintas, la pregunta plantea la decisión en el momento crítico. Los items con mode \\\"new_simulation\\\" llevan además \\\"simulation\\\":{\\\"pattern\\\":\\\"<el mismo pattern>\\\",\\\"durationSeconds\\\":10-60, \\\"world\\\":{\\\"environment\\\":\\\"<urban|highway|rural>\\\",\\\"roadType\\\":\\\"<single_carriageway|multi_lane_avenue|roundabout|intersection>\\\",\\\"weather\\\":\\\"<clear|rain|fog>\\\",\\\"timeOfDay\\\":\\\"<day|dusk|night>\\\"}, \\\"camera\\\":{\\\"mode\\\":\\\"<fixed|third_person_follow|top_down|cinematic>\\\",\\\"position\\\":[x,y,z],\\\"lookAt\\\":[x,y,z],\\\"fov\\\":30-90}, \\\"actorsSpec\\\":[{\\\"id\\\":\\\"snake_case_unico\\\",\\\"assetId\\\":\\\"<del catálogo>\\\",\\\"role\\\":\\\"<rol>\\\",\\\"initialPosition\\\":[x,0,z],\\\"initialRotation\\\":[0,ry,0],\\\"scale\\\":[1,1,1],\\\"tags\\\":[\\\"...\\\"]}], \\\"timeline\\\":[{\\\"id\\\":\\\"ev_1\\\",\\\"type\\\":\\\"animate_actor\\\",\\\"actorId\\\":\\\"<id de actor>\\\",\\\"track\\\":\\\"position\\\",\\\"keyframes\\\":[{\\\"t\\\":0,\\\"value\\\":[x,0,z]},{\\\"t\\\":8,\\\"value\\\":[x,0,z]}],\\\"interpolation\\\":\\\"linear\\\"}], \\\"interactionAppearsAt\\\":<segundos>}. Reglas de simulation: exactamente UN actor con role ego_vehicle; entre 2 y 6 actores; coordenadas en metros con |valor|<=200 e y=0 para vehículos; keyframes con t ascendente dentro de la duración; entre 1 y 12 eventos animate_actor; NO incluyas eventos trigger (el sistema agrega la interacción en interactionAppearsAt). Catálogo cerrado — assetIds: asset_sedan, asset_taxi, asset_stop_sign, asset_police, asset_cone, asset_hatchback, asset_crosswalk, asset_pickup, asset_traffic_light, asset_pedestrian, asset_suv, asset_motorcycle, asset_truck, asset_bus. Roles: ego_vehicle, offender_vehicle, oncoming_vehicle, traffic_vehicle, pedestrian, police_officer. Tags de actor: crossing, lane_change, stopped, fast, oncoming, offender, vulnerable.\" },\n    {\n      role: 'user',\n      content: JSON.stringify({\n        historias: selected.map(function (s, i) {\n          return {\n            index: i,\n            titulo: s.story.news_title,\n            resumen: s.story.news_summary || '',\n            hechos: s.facts,\n            pattern: s.pattern,\n            mode: s.mode,\n          };\n        }),\n      }),\n    },\n  ],\n};\nconst newsPool = fresh.length > 0 ? fresh : allStories;\nreturn [{ json: { body: body, selected: selected, themes: themes, newsPool: newsPool } }];\n"
      }
    },
    {
      "name": "OpenAI Generate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        520,
        -80
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.body) }}",
        "options": {
          "timeout": 180000
        }
      },
      "credentials": {
        "openAiApi": {
          "id": "__OPENAI_CRED_ID__",
          "name": "DriverLab OpenAI"
        }
      }
    },
    {
      "name": "Build & Validate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        -80
      ],
      "alwaysOutputData": true,
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "\nconst CONTRACT = {\"version\":1,\"generatedAt\":\"2026-07-05T06:54:51.376Z\",\"patterns\":[{\"pattern\":\"stop_intersection\",\"hasTemplate\":true,\"fallbackPattern\":\"stop_intersection\"},{\"pattern\":\"document_checkpoint\",\"hasTemplate\":true,\"fallbackPattern\":\"document_checkpoint\"},{\"pattern\":\"vehicle_safety_rain\",\"hasTemplate\":true,\"fallbackPattern\":\"vehicle_safety_rain\"},{\"pattern\":\"traffic_light_decision\",\"hasTemplate\":true,\"fallbackPattern\":\"traffic_light_decision\"},{\"pattern\":\"pedestrian_crossing\",\"hasTemplate\":true,\"fallbackPattern\":\"pedestrian_crossing\"},{\"pattern\":\"unsafe_lane_change\",\"hasTemplate\":true,\"fallbackPattern\":\"unsafe_lane_change\"},{\"pattern\":\"phone_distraction\",\"hasTemplate\":true,\"fallbackPattern\":\"phone_distraction\"},{\"pattern\":\"bus_stop_hazard\",\"hasTemplate\":true,\"fallbackPattern\":\"bus_stop_hazard\"},{\"pattern\":\"motorcycle_awareness\",\"hasTemplate\":true,\"fallbackPattern\":\"motorcycle_awareness\"},{\"pattern\":\"roundabout_priority\",\"hasTemplate\":true,\"fallbackPattern\":\"roundabout_priority\"},{\"pattern\":\"safe_following_distance\",\"hasTemplate\":false,\"fallbackPattern\":\"vehicle_safety_rain\"},{\"pattern\":\"speed_low_visibility\",\"hasTemplate\":false,\"fallbackPattern\":\"vehicle_safety_rain\"},{\"pattern\":\"unsafe_overtake\",\"hasTemplate\":false,\"fallbackPattern\":\"unsafe_lane_change\"}],\"modules\":{\"01-fundamentos-legales\":{\"lessonIds\":[\"01-fundamentos-legales:deber-de-obedecer\",\"01-fundamentos-legales:responsabilidad-preventiva\"],\"templateId\":\"scenario_fundamentos_legales_alto_001\",\"templatePattern\":\"stop_intersection\"},\"02-licencia-y-documentos\":{\"lessonIds\":[\"02-licencia-y-documentos:habilitacion\",\"02-licencia-y-documentos:documentos-obligatorios\"],\"templateId\":\"scenario_licencia_documentos_control_001\",\"templatePattern\":\"document_checkpoint\"},\"03-vehiculo-seguro\":{\"lessonIds\":[\"03-vehiculo-seguro:revision-preventiva\",\"03-vehiculo-seguro:neumaticos-y-frenos\"],\"templateId\":\"scenario_vehiculo_seguro_lluvia_001\",\"templatePattern\":\"vehicle_safety_rain\"},\"04-reglas-de-circulacion\":{\"lessonIds\":[\"04-reglas-de-circulacion:semaforos\",\"04-reglas-de-circulacion:control-de-interseccion\"],\"templateId\":\"scenario_reglas_circulacion_semaforo_001\",\"templatePattern\":\"traffic_light_decision\"},\"05-peatones-y-usuarios-vulnerables\":{\"lessonIds\":[\"05-peatones-y-usuarios-vulnerables:prioridad-peatonal\",\"05-peatones-y-usuarios-vulnerables:anticipacion\"],\"templateId\":\"scenario_peatones_cruce_001\",\"templatePattern\":\"pedestrian_crossing\"},\"06-senalizacion-vial\":{\"lessonIds\":[\"06-senalizacion-vial:senales-reglamentacion\",\"06-senalizacion-vial:marcas-viales\"],\"templateId\":\"scenario_senalizacion_alto_001\",\"templatePattern\":\"stop_intersection\"},\"07-conduccion-defensiva\":{\"lessonIds\":[\"07-conduccion-defensiva:punto-ciego\",\"07-conduccion-defensiva:anticipar-error-ajeno\"],\"templateId\":\"scenario_conduccion_defensiva_punto_ciego_001\",\"templatePattern\":\"unsafe_lane_change\"},\"08-riesgos-que-matan\":{\"lessonIds\":[\"08-riesgos-que-matan:distraccion\",\"08-riesgos-que-matan:tiempo-de-reaccion\"],\"templateId\":\"scenario_riesgos_que_matan_distraccion_001\",\"templatePattern\":\"phone_distraction\"},\"09-infracciones-y-consecuencias\":{\"lessonIds\":[\"09-infracciones-y-consecuencias:evidencia\",\"09-infracciones-y-consecuencias:sancion\"],\"templateId\":\"scenario_infracciones_consecuencias_rojo_001\",\"templatePattern\":\"traffic_light_decision\"},\"10-transporte-publico-y-pasajeros\":{\"lessonIds\":[\"10-transporte-publico-y-pasajeros:bus-detenido\",\"10-transporte-publico-y-pasajeros:usuarios-vulnerables\"],\"templateId\":\"scenario_transporte_publico_bus_001\",\"templatePattern\":\"bus_stop_hazard\"},\"11-motociclistas\":{\"lessonIds\":[\"11-motociclistas:vulnerabilidad\",\"11-motociclistas:margen-lateral\"],\"templateId\":\"scenario_motociclistas_punto_ciego_001\",\"templatePattern\":\"motorcycle_awareness\"},\"12-practica-para-examen\":{\"lessonIds\":[\"12-practica-para-examen:prioridad-integrada\",\"12-practica-para-examen:decision-final\"],\"templateId\":\"scenario_practica_examen_redondel_001\",\"templatePattern\":\"roundabout_priority\"}},\"assets\":[{\"id\":\"asset_sedan\",\"type\":\"vehicle\",\"url\":\"/models/sedan.glb\"},{\"id\":\"asset_taxi\",\"type\":\"vehicle\",\"url\":\"/models/taxi.glb\"},{\"id\":\"asset_stop_sign\",\"type\":\"sign\",\"url\":\"/assets/signs/stop.glb\"},{\"id\":\"asset_police\",\"type\":\"vehicle\",\"url\":\"/models/police.glb\"},{\"id\":\"asset_cone\",\"type\":\"road_asset\",\"url\":\"/models/cone.glb\"},{\"id\":\"asset_hatchback\",\"type\":\"vehicle\",\"url\":\"/models/hatchback-sports.glb\"},{\"id\":\"asset_crosswalk\",\"type\":\"road_marking\",\"url\":\"/assets/road/crosswalk.glb\"},{\"id\":\"asset_pickup\",\"type\":\"vehicle\",\"url\":\"/models/truck.glb\"},{\"id\":\"asset_traffic_light\",\"type\":\"signal\",\"url\":\"/assets/signs/traffic-light.glb\"},{\"id\":\"asset_pedestrian\",\"type\":\"character\",\"url\":\"/models/cone.glb\"},{\"id\":\"asset_suv\",\"type\":\"vehicle\",\"url\":\"/models/suv.glb\"},{\"id\":\"asset_motorcycle\",\"type\":\"vehicle\",\"url\":\"/bike/low%20poly%20dirta%20bike%20with%20rider%201_FBX/DirtBike_With_Player.FBX\"},{\"id\":\"asset_truck\",\"type\":\"vehicle\",\"url\":\"/models/truck.glb\"},{\"id\":\"asset_bus\",\"type\":\"vehicle\",\"url\":\"/models/van.glb\"}],\"enums\":{\"environment\":[\"urban\",\"highway\",\"rural\"],\"weather\":[\"clear\",\"rain\",\"fog\"],\"timeOfDay\":[\"day\",\"dusk\",\"night\"],\"roadType\":[\"single_carriageway\",\"multi_lane_avenue\",\"roundabout\",\"intersection\"],\"cameraMode\":[\"fixed\",\"third_person_follow\",\"top_down\",\"cinematic\"],\"difficulty\":[\"basic\",\"intermediate\",\"advanced\"],\"actorRole\":[\"ego_vehicle\",\"offender_vehicle\",\"oncoming_vehicle\",\"traffic_vehicle\",\"pedestrian\",\"police_officer\"],\"actorTag\":[\"crossing\",\"lane_change\",\"stopped\",\"fast\",\"oncoming\",\"offender\",\"vulnerable\"]},\"limits\":{\"durationSeconds\":[10,60],\"actors\":[2,6],\"timelineEvents\":[1,12],\"options\":[3,4],\"estimatedMinutes\":[2,10],\"titleMaxChars\":70,\"optionLabelChars\":[8,120],\"fov\":[30,90],\"maxAbsCoordinate\":200},\"scoring\":{\"maxScore\":100,\"passScore\":70,\"metrics\":[{\"id\":\"decision\",\"label\":\"Decisión segura\",\"weight\":1}]},\"legalDocumentDefault\":\"Ley de Transporte Terrestre, Tránsito y Seguridad Vial\"};\n\nfunction rowsOf(nodeName) {\n  let raw = [];\n  try { raw = $(nodeName).all().map(function (i) { return i.json; }); } catch (e) { raw = []; }\n  const flat = [];\n  for (const r of raw) {\n    if (Array.isArray(r)) { for (const x of r) flat.push(x); }\n    else if (r && Array.isArray(r.data)) { for (const x of r.data) flat.push(x); }\n    else if (r && typeof r === 'object' && Object.keys(r).length > 0) flat.push(r);\n  }\n  return flat;\n}\n\nfunction parseOpenAI(json) {\n  try {\n    const content = json && json.choices && json.choices[0] && json.choices[0].message\n      ? json.choices[0].message.content : null;\n    if (!content) return null;\n    return JSON.parse(content);\n  } catch (e) { return null; }\n}\n\nfunction clampStr(value, max) {\n  const s = String(value == null ? '' : value).replace(/\\s+/g, ' ').trim();\n  return s.length > max ? s.slice(0, max - 1).trim() + '…' : s;\n}\n\nfunction strArray(value, min, max, itemMax) {\n  if (!Array.isArray(value)) return null;\n  const out = value\n    .filter(function (v) { return typeof v === 'string' && v.trim().length > 0; })\n    .map(function (v) { return clampStr(v, itemMax); })\n    .slice(0, max);\n  return out.length >= min ? out : null;\n}\n\nfunction sanitizeSlug(value) {\n  const s = String(value == null ? '' : value).toLowerCase()\n    .normalize('NFD').replace(/[\\u0300-\\u036f]/g, '')\n    .replace(/[^a-z0-9]+/g, '-').replace(/^-+|-+$/g, '').slice(0, 40);\n  return s || 'escenario';\n}\n\nfunction pad2(n) { return String(n).padStart(2, '0'); }\n\nfunction isVec3(v, maxAbs) {\n  return Array.isArray(v) && v.length === 3 && v.every(function (x) {\n    return typeof x === 'number' && Number.isFinite(x) && Math.abs(x) <= maxAbs;\n  });\n}\n\nfunction normalizeRefs(refs) {\n  const list = Array.isArray(refs) ? refs : [];\n  const out = list\n    .filter(function (r) { return r && typeof r === 'object'; })\n    .map(function (r) {\n      return {\n        jurisdiction: clampStr(r.jurisdiction || 'El Salvador', 60) || 'El Salvador',\n        document: clampStr(r.document || CONTRACT.legalDocumentDefault, 160) || CONTRACT.legalDocumentDefault,\n        ruleCategory: clampStr(r.ruleCategory || 'normas de circulación', 120) || 'normas de circulación',\n      };\n    })\n    .slice(0, 4);\n  if (out.length === 0) {\n    out.push({\n      jurisdiction: 'El Salvador',\n      document: CONTRACT.legalDocumentDefault,\n      ruleCategory: 'normas de circulación',\n    });\n  }\n  return out;\n}\n\n// Final gate: mirrors ScenarioDefinitionSchema + validateScenarioDefinition in\n// core/scenario-definition.ts. Bounds are relaxed enough for template data.\nfunction validateDefinition(def) {\n  const errors = [];\n  const err = function (m) { errors.push(m); };\n  if (!def || typeof def !== 'object') return ['definition is not an object'];\n  if (def.schemaVersion !== 'drivelab.scenario.v1') err('bad schemaVersion');\n  for (const k of ['id', 'slug', 'title', 'description']) {\n    if (typeof def[k] !== 'string' || def[k].trim().length === 0) err('missing ' + k);\n  }\n  const mb = def.moduleBinding || {};\n  if (!CONTRACT.modules[mb.moduleId]) err('unknown moduleId ' + mb.moduleId);\n  if (mb.isPrimaryScenario !== false) err('isPrimaryScenario must be false');\n  const learning = def.learning || {};\n  if (!Array.isArray(learning.lessonIds) || learning.lessonIds.length === 0) err('missing lessonIds');\n  if (!Array.isArray(learning.objectives) || learning.objectives.length === 0) err('missing objectives');\n  const fb = learning.feedback || {};\n  if (!fb.success || !fb.failure || !Array.isArray(fb.hints) || fb.hints.length === 0) err('bad feedback');\n  const sim = def.simulation || {};\n  const known = CONTRACT.patterns.some(function (p) { return p.pattern === sim.pattern; });\n  if (!known) err('unknown pattern ' + sim.pattern);\n  if (!(typeof sim.durationSeconds === 'number' && sim.durationSeconds > 0 && sim.durationSeconds <= 120)) err('bad durationSeconds');\n  const world = sim.world || {};\n  for (const k of ['environment', 'roadType', 'weather', 'timeOfDay']) {\n    if (typeof world[k] !== 'string' || world[k].length === 0) err('bad world.' + k);\n  }\n  if (world.units !== 'meters') err('world.units must be meters');\n  const cam = sim.camera || {};\n  if (CONTRACT.enums.cameraMode.indexOf(cam.mode) === -1) err('bad camera.mode');\n  if (!(typeof cam.fov === 'number' && cam.fov > 0 && cam.fov <= 120)) err('bad camera.fov');\n  if (!isVec3(cam.position, 1000) || !isVec3(cam.lookAt, 1000)) err('bad camera vectors');\n  const assets = Array.isArray(sim.assets) ? sim.assets : [];\n  if (assets.length === 0) err('no assets');\n  const assetIds = new Set();\n  for (const a of assets) {\n    if (!a || !a.id || !a.type || !a.url) err('bad asset entry');\n    else if (assetIds.has(a.id)) err('duplicate asset id ' + a.id);\n    else assetIds.add(a.id);\n  }\n  const actors = Array.isArray(sim.actors) ? sim.actors : [];\n  if (actors.length === 0 || actors.length > 8) err('bad actor count');\n  const actorIds = new Set();\n  for (const a of actors) {\n    if (!a || typeof a.id !== 'string' || a.id.length === 0) { err('bad actor id'); continue; }\n    if (actorIds.has(a.id)) err('duplicate actor id ' + a.id);\n    actorIds.add(a.id);\n    if (!assetIds.has(a.assetId)) err('actor ' + a.id + ' references missing asset ' + a.assetId);\n    if (typeof a.role !== 'string' || a.role.length === 0) err('actor ' + a.id + ' missing role');\n    if (!isVec3(a.initialPosition, 1000) || !isVec3(a.initialRotation, 1000) || !isVec3(a.scale, 1000)) {\n      err('actor ' + a.id + ' has bad vectors');\n    }\n    if (!Array.isArray(a.tags)) err('actor ' + a.id + ' tags must be array');\n  }\n  const interactions = Array.isArray(sim.interactions) ? sim.interactions : [];\n  if (interactions.length === 0) err('no interactions');\n  const interactionIds = new Set(interactions.map(function (i) { return i && i.id; }));\n  for (const inter of interactions) {\n    if (!inter || inter.type !== 'multiple_choice') { err('bad interaction type'); continue; }\n    if (!(typeof inter.appearsAt === 'number' && inter.appearsAt >= 0)) err('bad appearsAt');\n    if (typeof inter.prompt !== 'string' || inter.prompt.trim().length === 0) err('missing prompt');\n    const opts = Array.isArray(inter.options) ? inter.options : [];\n    if (opts.length < 2) err('needs >=2 options');\n    const optIds = new Set();\n    const labels = new Set();\n    let correctCount = 0;\n    for (const o of opts) {\n      if (!o || typeof o.id !== 'string' || typeof o.label !== 'string' || o.label.trim().length === 0) { err('bad option'); continue; }\n      if (optIds.has(o.id)) err('duplicate option id ' + o.id);\n      optIds.add(o.id);\n      const lkey = o.label.trim().toLowerCase();\n      if (labels.has(lkey)) err('duplicate option label');\n      labels.add(lkey);\n      if (typeof o.scoreDelta !== 'number') err('option missing scoreDelta');\n      if (o.isCorrect === true) correctCount += 1;\n    }\n    if (correctCount !== 1) err('needs exactly one correct option');\n    const correct = opts.find(function (o) { return o.id === inter.correctOptionId; });\n    if (!correct || correct.isCorrect !== true) err('correctOptionId mismatch');\n  }\n  const timeline = Array.isArray(sim.timeline) ? sim.timeline : [];\n  if (timeline.length === 0) err('no timeline events');\n  let hasTrigger = false;\n  for (const ev of timeline) {\n    if (!ev || typeof ev.id !== 'string') { err('bad timeline event'); continue; }\n    if (ev.type === 'animate_actor') {\n      if (ev.actorId && !actorIds.has(ev.actorId)) err('timeline event ' + ev.id + ' references missing actor');\n      if (ev.keyframes) {\n        let prev = -1;\n        for (const kf of ev.keyframes) {\n          if (!kf || typeof kf.t !== 'number' || kf.t < 0 || !isVec3(kf.value, 1000)) err('bad keyframe in ' + ev.id);\n          else { if (kf.t < prev) err('keyframes not ascending in ' + ev.id); prev = kf.t; }\n        }\n      }\n    } else if (ev.type === 'trigger') {\n      if (!(ev.trigger && ev.trigger.kind === 'show_interaction' && interactionIds.has(ev.trigger.interactionId))) {\n        err('bad trigger event ' + ev.id);\n      } else { hasTrigger = true; }\n      if (!(typeof ev.at === 'number' && ev.at >= 0)) err('trigger event ' + ev.id + ' missing at');\n    } else { err('unknown timeline event type'); }\n  }\n  if (!hasTrigger) err('no show_interaction trigger');\n  const scoring = def.scoring || {};\n  if (!(scoring.maxScore > 0 && scoring.passScore > 0 && scoring.passScore <= scoring.maxScore)) err('bad scoring');\n  if (!Array.isArray(scoring.metrics) || scoring.metrics.length === 0) err('missing scoring metrics');\n  const meta = def.metadata || {};\n  if (CONTRACT.enums.difficulty.indexOf(meta.difficulty) === -1) err('bad difficulty');\n  if (!(typeof meta.estimatedMinutes === 'number' && meta.estimatedMinutes > 0)) err('bad estimatedMinutes');\n  if (!Array.isArray(meta.tags)) err('bad tags');\n  if (!meta.createdAt || !meta.updatedAt) err('missing timestamps');\n  return errors;\n}\n\n// Strict contract checks for LLM-generated simulations (never applied to templates).\nfunction validateCandidateSim(sim) {\n  const errors = [];\n  const err = function (m) { errors.push(m); };\n  const L = CONTRACT.limits;\n  if (!sim || typeof sim !== 'object') return ['simulation missing'];\n  if (!CONTRACT.patterns.some(function (p) { return p.pattern === sim.pattern; })) err('pattern');\n  if (!(typeof sim.durationSeconds === 'number' && sim.durationSeconds >= L.durationSeconds[0] && sim.durationSeconds <= L.durationSeconds[1])) err('durationSeconds');\n  const world = sim.world || {};\n  if (CONTRACT.enums.environment.indexOf(world.environment) === -1) err('world.environment');\n  if (CONTRACT.enums.roadType.indexOf(world.roadType) === -1) err('world.roadType');\n  if (CONTRACT.enums.weather.indexOf(world.weather) === -1) err('world.weather');\n  if (CONTRACT.enums.timeOfDay.indexOf(world.timeOfDay) === -1) err('world.timeOfDay');\n  const cam = sim.camera || {};\n  if (CONTRACT.enums.cameraMode.indexOf(cam.mode) === -1) err('camera.mode');\n  if (!(typeof cam.fov === 'number' && cam.fov >= L.fov[0] && cam.fov <= L.fov[1])) err('camera.fov');\n  if (!isVec3(cam.position, L.maxAbsCoordinate) || !isVec3(cam.lookAt, L.maxAbsCoordinate)) err('camera vectors');\n  const specs = Array.isArray(sim.actorsSpec) ? sim.actorsSpec : [];\n  if (specs.length < L.actors[0] || specs.length > L.actors[1]) err('actor count');\n  const assetById = {};\n  for (const a of CONTRACT.assets) assetById[a.id] = a;\n  const ids = new Set();\n  let egoCount = 0;\n  for (const s of specs) {\n    if (!s || typeof s.id !== 'string' || !/^[a-z][a-z0-9_]*$/.test(s.id)) { err('actor id'); continue; }\n    if (ids.has(s.id)) err('duplicate actor id');\n    ids.add(s.id);\n    if (!assetById[s.assetId]) err('unknown assetId ' + s.assetId);\n    if (CONTRACT.enums.actorRole.indexOf(s.role) === -1) err('actor role ' + s.role);\n    if (s.role === 'ego_vehicle') egoCount += 1;\n    if (!isVec3(s.initialPosition, L.maxAbsCoordinate) || !isVec3(s.initialRotation, 720) || !isVec3(s.scale, 10)) err('actor vectors');\n    const tags = Array.isArray(s.tags) ? s.tags : [];\n    for (const t of tags) if (CONTRACT.enums.actorTag.indexOf(t) === -1) err('actor tag ' + t);\n  }\n  if (egoCount !== 1) err('needs exactly one ego_vehicle');\n  const timeline = Array.isArray(sim.timeline) ? sim.timeline : [];\n  if (timeline.length < L.timelineEvents[0] || timeline.length > L.timelineEvents[1]) err('timeline count');\n  const evIds = new Set();\n  for (const ev of timeline) {\n    if (!ev || typeof ev.id !== 'string' || ev.type !== 'animate_actor') { err('timeline event type'); continue; }\n    if (evIds.has(ev.id)) err('duplicate event id');\n    evIds.add(ev.id);\n    if (!ids.has(ev.actorId)) err('event actorId');\n    if (['position', 'rotation', 'scale'].indexOf(ev.track) === -1) err('event track');\n    const kfs = Array.isArray(ev.keyframes) ? ev.keyframes : [];\n    if (kfs.length < 2) err('needs >=2 keyframes');\n    let prev = -1;\n    for (const kf of kfs) {\n      if (!kf || typeof kf.t !== 'number' || kf.t < 0 || kf.t > sim.durationSeconds || !isVec3(kf.value, L.maxAbsCoordinate)) err('keyframe');\n      else { if (kf.t <= prev) err('keyframes not ascending'); prev = kf.t; }\n    }\n  }\n  const at = sim.interactionAppearsAt;\n  if (!(typeof at === 'number' && at >= 0 && at <= sim.durationSeconds)) err('interactionAppearsAt');\n  return errors;\n}\n\nfunction buildInteractionOptions(llmInteraction) {\n  if (!llmInteraction || typeof llmInteraction !== 'object') return null;\n  const prompt = clampStr(llmInteraction.prompt, 300);\n  if (prompt.length < 10) return null;\n  const raw = Array.isArray(llmInteraction.options) ? llmInteraction.options : [];\n  const cleaned = [];\n  const seenLabels = new Set();\n  for (const o of raw) {\n    if (!o || typeof o.label !== 'string') continue;\n    const label = clampStr(o.label, 160);\n    const key = label.toLowerCase();\n    if (label.length < 8 || seenLabels.has(key)) continue;\n    seenLabels.add(key);\n    cleaned.push({ label: label, isCorrect: o.isCorrect === true });\n  }\n  const correct = cleaned.filter(function (o) { return o.isCorrect; });\n  const wrong = cleaned.filter(function (o) { return !o.isCorrect; });\n  if (correct.length !== 1 || wrong.length < 1) return null;\n  return { prompt: prompt, correct: correct[0], wrong: wrong.slice(0, 3) };\n}\n\nfunction applyCommonFields(def, llm, story, dateStr, seq, mode) {\n  const moduleId = CONTRACT.modules[llm.moduleId] ? llm.moduleId : null;\n  if (!moduleId) return 'moduleId';\n  const slug = sanitizeSlug(llm.slug || llm.title);\n  def.schemaVersion = 'drivelab.scenario.v1';\n  def.id = 'scenario_news_' + dateStr + '_' + slug + '_' + pad2(seq);\n  def.slug = 'news-' + dateStr + '-' + slug + '-' + pad2(seq);\n  def.title = clampStr(llm.title, 90);\n  def.description = clampStr(llm.description, 400);\n  if (def.title.length < 10 || def.description.length < 30) return 'title/description';\n  def.moduleBinding = { moduleId: moduleId, isPrimaryScenario: false };\n  const objectives = strArray(llm.objectives, 1, 5, 300);\n  const fb = llm.feedback || {};\n  const hints = strArray(fb.hints, 1, 5, 300);\n  const success = clampStr(fb.success, 400);\n  const failure = clampStr(fb.failure, 400);\n  if (!objectives || !hints || success.length < 10 || failure.length < 10) return 'learning texts';\n  def.learning = {\n    lessonIds: CONTRACT.modules[moduleId].lessonIds.slice(),\n    objectives: objectives,\n    feedback: { success: success, failure: failure, hints: hints },\n    legalReferences: normalizeRefs(llm.legalReferences),\n  };\n  const now = new Date().toISOString();\n  const minutes = Number(llm.estimatedMinutes);\n  def.metadata = {\n    difficulty: CONTRACT.enums.difficulty.indexOf(llm.difficulty) === -1 ? 'intermediate' : llm.difficulty,\n    estimatedMinutes: Number.isInteger(minutes) && minutes >= CONTRACT.limits.estimatedMinutes[0] && minutes <= CONTRACT.limits.estimatedMinutes[1] ? minutes : 3,\n    tags: Array.from(new Set(['noticia'].concat(strArray(llm.tags, 0, 6, 40) || []))),\n    createdAt: now,\n    updatedAt: now,\n  };\n  def.scoring = JSON.parse(JSON.stringify(CONTRACT.scoring));\n  return null;\n}\n\nfunction buildOverlay(llm, story, template, dateStr, seq) {\n  if (!template) return { def: null, reason: 'no template for pattern' };\n  const def = JSON.parse(JSON.stringify(template.definition));\n  const commonError = applyCommonFields(def, llm, story, dateStr, seq, 'overlay');\n  if (commonError) return { def: null, reason: commonError };\n  const inter = def.simulation.interactions[0];\n  const parsedQuiz = buildInteractionOptions(llm.interaction);\n  if (!parsedQuiz) return { def: null, reason: 'interaction' };\n  const correctSlot = inter.options.find(function (o) { return o.id === inter.correctOptionId; });\n  if (!correctSlot) return { def: null, reason: 'template correct slot' };\n  const wrongSlots = inter.options.filter(function (o) { return o.id !== inter.correctOptionId; });\n  const rebuilt = [];\n  correctSlot.label = parsedQuiz.correct.label;\n  correctSlot.isCorrect = true;\n  rebuilt.push(correctSlot);\n  for (let i = 0; i < wrongSlots.length && i < parsedQuiz.wrong.length; i += 1) {\n    wrongSlots[i].label = parsedQuiz.wrong[i].label;\n    wrongSlots[i].isCorrect = false;\n    rebuilt.push(wrongSlots[i]);\n  }\n  if (rebuilt.length < 3) return { def: null, reason: 'not enough options' };\n  inter.options = rebuilt;\n  inter.prompt = parsedQuiz.prompt;\n  return { def: def, reason: null };\n}\n\nfunction buildNewSimulation(llm, story, dateStr, seq) {\n  const sim = llm.simulation;\n  const candidateErrors = validateCandidateSim(sim);\n  if (candidateErrors.length > 0) return { def: null, reason: 'candidate: ' + candidateErrors.slice(0, 3).join('; ') };\n  const parsedQuiz = buildInteractionOptions(llm.interaction);\n  if (!parsedQuiz) return { def: null, reason: 'interaction' };\n  const assetById = {};\n  for (const a of CONTRACT.assets) assetById[a.id] = a;\n  const usedAssetIds = Array.from(new Set(sim.actorsSpec.map(function (s) { return s.assetId; })));\n  const assets = usedAssetIds.map(function (id) { return JSON.parse(JSON.stringify(assetById[id])); });\n  const actors = sim.actorsSpec.map(function (s) {\n    return {\n      id: s.id,\n      assetId: s.assetId,\n      role: s.role,\n      initialPosition: s.initialPosition,\n      initialRotation: s.initialRotation,\n      scale: s.scale,\n      tags: Array.isArray(s.tags) ? s.tags : [],\n    };\n  });\n  const options = [{ id: 'opt_1', label: parsedQuiz.correct.label, isCorrect: true, scoreDelta: 100 }];\n  parsedQuiz.wrong.forEach(function (o, i) {\n    options.push({ id: 'opt_' + (i + 2), label: o.label, isCorrect: false, scoreDelta: -25 });\n  });\n  const interaction = {\n    id: 'interaction_main',\n    type: 'multiple_choice',\n    appearsAt: sim.interactionAppearsAt,\n    prompt: parsedQuiz.prompt,\n    options: options,\n    correctOptionId: 'opt_1',\n  };\n  const timeline = sim.timeline.map(function (ev) {\n    return {\n      id: ev.id,\n      type: 'animate_actor',\n      actorId: ev.actorId,\n      track: ev.track,\n      keyframes: ev.keyframes,\n      interpolation: ev.interpolation === 'smooth' ? 'smooth' : 'linear',\n    };\n  });\n  timeline.push({\n    id: 'ev_show_interaction',\n    type: 'trigger',\n    at: sim.interactionAppearsAt,\n    trigger: { kind: 'show_interaction', interactionId: 'interaction_main' },\n  });\n  const def = {};\n  const commonError = applyCommonFields(def, llm, story, dateStr, seq, 'new_simulation');\n  if (commonError) return { def: null, reason: commonError };\n  def.simulation = {\n    pattern: sim.pattern,\n    durationSeconds: sim.durationSeconds,\n    world: {\n      environment: sim.world.environment,\n      roadType: sim.world.roadType,\n      weather: sim.world.weather,\n      timeOfDay: sim.world.timeOfDay,\n      units: 'meters',\n    },\n    camera: {\n      mode: sim.camera.mode,\n      position: sim.camera.position,\n      lookAt: sim.camera.lookAt,\n      fov: sim.camera.fov,\n    },\n    assets: assets,\n    actors: actors,\n    timeline: timeline,\n    interactions: [interaction],\n  };\n  return { def: def, reason: null };\n}\n\nfunction templatesByPattern(templateRows) {\n  const map = {};\n  const sorted = templateRows.slice().sort(function (a, b) { return String(a.id).localeCompare(String(b.id)); });\n  for (const row of sorted) {\n    if (row && row.pattern && row.definition && !map[row.pattern]) map[row.pattern] = row;\n  }\n  return map;\n}\n\nfunction fallbackTemplate(pattern, tplMap) {\n  const entry = CONTRACT.patterns.find(function (p) { return p.pattern === pattern; });\n  if (!entry) return null;\n  return tplMap[entry.fallbackPattern] || tplMap[pattern] || null;\n}\n\nfunction buildScenarioRow(llm, story, tplMap, dateStr, seq) {\n  if (!llm || typeof llm !== 'object') return null;\n  const pattern = llm.pattern;\n  if (!CONTRACT.patterns.some(function (p) { return p.pattern === pattern; })) return null;\n  let mode = llm.mode === 'new_simulation' && llm.simulation ? 'new_simulation' : 'overlay';\n  let built = null;\n  if (mode === 'new_simulation') {\n    built = buildNewSimulation(llm, story, dateStr, seq);\n    if (!built.def) {\n      mode = 'overlay';\n      built = buildOverlay(llm, story, fallbackTemplate(pattern, tplMap), dateStr, seq);\n    }\n  } else {\n    built = buildOverlay(llm, story, fallbackTemplate(pattern, tplMap), dateStr, seq);\n  }\n  if (!built.def) return null;\n  const finalErrors = validateDefinition(built.def);\n  if (finalErrors.length > 0) return null;\n  return {\n    id: built.def.id,\n    definition: built.def,\n    generation_mode: mode,\n    news_title: story.news_title,\n    news_url: story.news_url,\n    news_source: story.news_source,\n    news_published_at: story.news_published_at,\n    news_summary: story.news_summary,\n  };\n}\n\nfunction todayDateStr() {\n  const d = new Date();\n  return String(d.getUTCFullYear()) + pad2(d.getUTCMonth() + 1) + pad2(d.getUTCDate());\n}\n\nconst gen = parseOpenAI($input.first().json) || { items: [] };\nconst prep = $('Prep Generate').first().json;\nconst selected = prep.selected || [];\nconst tplMap = templatesByPattern(rowsOf('Fetch Templates'));\nconst dateStr = todayDateStr();\nconst scenarios = [];\nconst usedIds = new Set();\nconst usedUrls = new Set();\nlet seq = 1;\nfor (const item of (Array.isArray(gen.items) ? gen.items : [])) {\n  if (!item || typeof item.index !== 'number' || !selected[item.index]) continue;\n  const sel = selected[item.index];\n  const urlKey = String(sel.story.news_url).toLowerCase();\n  if (usedUrls.has(urlKey)) continue;\n  if (item.pattern !== sel.pattern) item.pattern = sel.pattern;\n  const row = buildScenarioRow(item, sel.story, tplMap, dateStr, seq);\n  if (row && !usedIds.has(row.id)) {\n    usedIds.add(row.id);\n    usedUrls.add(urlKey);\n    scenarios.push(row);\n    seq += 1;\n  }\n}\nreturn [{ json: { scenarios: scenarios, themes: prep.themes || [], newsPool: prep.newsPool || [], dateStr: dateStr, nextSeq: seq } }];\n"
      }
    },
    {
      "name": "Enough Scenarios?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        880,
        -80
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.scenarios.length }}",
              "rightValue": 10,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ]
        }
      }
    },
    {
      "name": "Prep Top-Up",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1060,
        60
      ],
      "alwaysOutputData": true,
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "\nconst CONTRACT = {\"version\":1,\"generatedAt\":\"2026-07-05T06:54:51.376Z\",\"patterns\":[{\"pattern\":\"stop_intersection\",\"hasTemplate\":true,\"fallbackPattern\":\"stop_intersection\"},{\"pattern\":\"document_checkpoint\",\"hasTemplate\":true,\"fallbackPattern\":\"document_checkpoint\"},{\"pattern\":\"vehicle_safety_rain\",\"hasTemplate\":true,\"fallbackPattern\":\"vehicle_safety_rain\"},{\"pattern\":\"traffic_light_decision\",\"hasTemplate\":true,\"fallbackPattern\":\"traffic_light_decision\"},{\"pattern\":\"pedestrian_crossing\",\"hasTemplate\":true,\"fallbackPattern\":\"pedestrian_crossing\"},{\"pattern\":\"unsafe_lane_change\",\"hasTemplate\":true,\"fallbackPattern\":\"unsafe_lane_change\"},{\"pattern\":\"phone_distraction\",\"hasTemplate\":true,\"fallbackPattern\":\"phone_distraction\"},{\"pattern\":\"bus_stop_hazard\",\"hasTemplate\":true,\"fallbackPattern\":\"bus_stop_hazard\"},{\"pattern\":\"motorcycle_awareness\",\"hasTemplate\":true,\"fallbackPattern\":\"motorcycle_awareness\"},{\"pattern\":\"roundabout_priority\",\"hasTemplate\":true,\"fallbackPattern\":\"roundabout_priority\"},{\"pattern\":\"safe_following_distance\",\"hasTemplate\":false,\"fallbackPattern\":\"vehicle_safety_rain\"},{\"pattern\":\"speed_low_visibility\",\"hasTemplate\":false,\"fallbackPattern\":\"vehicle_safety_rain\"},{\"pattern\":\"unsafe_overtake\",\"hasTemplate\":false,\"fallbackPattern\":\"unsafe_lane_change\"}],\"modules\":{\"01-fundamentos-legales\":{\"lessonIds\":[\"01-fundamentos-legales:deber-de-obedecer\",\"01-fundamentos-legales:responsabilidad-preventiva\"],\"templateId\":\"scenario_fundamentos_legales_alto_001\",\"templatePattern\":\"stop_intersection\"},\"02-licencia-y-documentos\":{\"lessonIds\":[\"02-licencia-y-documentos:habilitacion\",\"02-licencia-y-documentos:documentos-obligatorios\"],\"templateId\":\"scenario_licencia_documentos_control_001\",\"templatePattern\":\"document_checkpoint\"},\"03-vehiculo-seguro\":{\"lessonIds\":[\"03-vehiculo-seguro:revision-preventiva\",\"03-vehiculo-seguro:neumaticos-y-frenos\"],\"templateId\":\"scenario_vehiculo_seguro_lluvia_001\",\"templatePattern\":\"vehicle_safety_rain\"},\"04-reglas-de-circulacion\":{\"lessonIds\":[\"04-reglas-de-circulacion:semaforos\",\"04-reglas-de-circulacion:control-de-interseccion\"],\"templateId\":\"scenario_reglas_circulacion_semaforo_001\",\"templatePattern\":\"traffic_light_decision\"},\"05-peatones-y-usuarios-vulnerables\":{\"lessonIds\":[\"05-peatones-y-usuarios-vulnerables:prioridad-peatonal\",\"05-peatones-y-usuarios-vulnerables:anticipacion\"],\"templateId\":\"scenario_peatones_cruce_001\",\"templatePattern\":\"pedestrian_crossing\"},\"06-senalizacion-vial\":{\"lessonIds\":[\"06-senalizacion-vial:senales-reglamentacion\",\"06-senalizacion-vial:marcas-viales\"],\"templateId\":\"scenario_senalizacion_alto_001\",\"templatePattern\":\"stop_intersection\"},\"07-conduccion-defensiva\":{\"lessonIds\":[\"07-conduccion-defensiva:punto-ciego\",\"07-conduccion-defensiva:anticipar-error-ajeno\"],\"templateId\":\"scenario_conduccion_defensiva_punto_ciego_001\",\"templatePattern\":\"unsafe_lane_change\"},\"08-riesgos-que-matan\":{\"lessonIds\":[\"08-riesgos-que-matan:distraccion\",\"08-riesgos-que-matan:tiempo-de-reaccion\"],\"templateId\":\"scenario_riesgos_que_matan_distraccion_001\",\"templatePattern\":\"phone_distraction\"},\"09-infracciones-y-consecuencias\":{\"lessonIds\":[\"09-infracciones-y-consecuencias:evidencia\",\"09-infracciones-y-consecuencias:sancion\"],\"templateId\":\"scenario_infracciones_consecuencias_rojo_001\",\"templatePattern\":\"traffic_light_decision\"},\"10-transporte-publico-y-pasajeros\":{\"lessonIds\":[\"10-transporte-publico-y-pasajeros:bus-detenido\",\"10-transporte-publico-y-pasajeros:usuarios-vulnerables\"],\"templateId\":\"scenario_transporte_publico_bus_001\",\"templatePattern\":\"bus_stop_hazard\"},\"11-motociclistas\":{\"lessonIds\":[\"11-motociclistas:vulnerabilidad\",\"11-motociclistas:margen-lateral\"],\"templateId\":\"scenario_motociclistas_punto_ciego_001\",\"templatePattern\":\"motorcycle_awareness\"},\"12-practica-para-examen\":{\"lessonIds\":[\"12-practica-para-examen:prioridad-integrada\",\"12-practica-para-examen:decision-final\"],\"templateId\":\"scenario_practica_examen_redondel_001\",\"templatePattern\":\"roundabout_priority\"}},\"assets\":[{\"id\":\"asset_sedan\",\"type\":\"vehicle\",\"url\":\"/models/sedan.glb\"},{\"id\":\"asset_taxi\",\"type\":\"vehicle\",\"url\":\"/models/taxi.glb\"},{\"id\":\"asset_stop_sign\",\"type\":\"sign\",\"url\":\"/assets/signs/stop.glb\"},{\"id\":\"asset_police\",\"type\":\"vehicle\",\"url\":\"/models/police.glb\"},{\"id\":\"asset_cone\",\"type\":\"road_asset\",\"url\":\"/models/cone.glb\"},{\"id\":\"asset_hatchback\",\"type\":\"vehicle\",\"url\":\"/models/hatchback-sports.glb\"},{\"id\":\"asset_crosswalk\",\"type\":\"road_marking\",\"url\":\"/assets/road/crosswalk.glb\"},{\"id\":\"asset_pickup\",\"type\":\"vehicle\",\"url\":\"/models/truck.glb\"},{\"id\":\"asset_traffic_light\",\"type\":\"signal\",\"url\":\"/assets/signs/traffic-light.glb\"},{\"id\":\"asset_pedestrian\",\"type\":\"character\",\"url\":\"/models/cone.glb\"},{\"id\":\"asset_suv\",\"type\":\"vehicle\",\"url\":\"/models/suv.glb\"},{\"id\":\"asset_motorcycle\",\"type\":\"vehicle\",\"url\":\"/bike/low%20poly%20dirta%20bike%20with%20rider%201_FBX/DirtBike_With_Player.FBX\"},{\"id\":\"asset_truck\",\"type\":\"vehicle\",\"url\":\"/models/truck.glb\"},{\"id\":\"asset_bus\",\"type\":\"vehicle\",\"url\":\"/models/van.glb\"}],\"enums\":{\"environment\":[\"urban\",\"highway\",\"rural\"],\"weather\":[\"clear\",\"rain\",\"fog\"],\"timeOfDay\":[\"day\",\"dusk\",\"night\"],\"roadType\":[\"single_carriageway\",\"multi_lane_avenue\",\"roundabout\",\"intersection\"],\"cameraMode\":[\"fixed\",\"third_person_follow\",\"top_down\",\"cinematic\"],\"difficulty\":[\"basic\",\"intermediate\",\"advanced\"],\"actorRole\":[\"ego_vehicle\",\"offender_vehicle\",\"oncoming_vehicle\",\"traffic_vehicle\",\"pedestrian\",\"police_officer\"],\"actorTag\":[\"crossing\",\"lane_change\",\"stopped\",\"fast\",\"oncoming\",\"offender\",\"vulnerable\"]},\"limits\":{\"durationSeconds\":[10,60],\"actors\":[2,6],\"timelineEvents\":[1,12],\"options\":[3,4],\"estimatedMinutes\":[2,10],\"titleMaxChars\":70,\"optionLabelChars\":[8,120],\"fov\":[30,90],\"maxAbsCoordinate\":200},\"scoring\":{\"maxScore\":100,\"passScore\":70,\"metrics\":[{\"id\":\"decision\",\"label\":\"Decisión segura\",\"weight\":1}]},\"legalDocumentDefault\":\"Ley de Transporte Terrestre, Tránsito y Seguridad Vial\"};\n\nfunction rowsOf(nodeName) {\n  let raw = [];\n  try { raw = $(nodeName).all().map(function (i) { return i.json; }); } catch (e) { raw = []; }\n  const flat = [];\n  for (const r of raw) {\n    if (Array.isArray(r)) { for (const x of r) flat.push(x); }\n    else if (r && Array.isArray(r.data)) { for (const x of r.data) flat.push(x); }\n    else if (r && typeof r === 'object' && Object.keys(r).length > 0) flat.push(r);\n  }\n  return flat;\n}\n\nfunction parseOpenAI(json) {\n  try {\n    const content = json && json.choices && json.choices[0] && json.choices[0].message\n      ? json.choices[0].message.content : null;\n    if (!content) return null;\n    return JSON.parse(content);\n  } catch (e) { return null; }\n}\n\nfunction clampStr(value, max) {\n  const s = String(value == null ? '' : value).replace(/\\s+/g, ' ').trim();\n  return s.length > max ? s.slice(0, max - 1).trim() + '…' : s;\n}\n\nfunction strArray(value, min, max, itemMax) {\n  if (!Array.isArray(value)) return null;\n  const out = value\n    .filter(function (v) { return typeof v === 'string' && v.trim().length > 0; })\n    .map(function (v) { return clampStr(v, itemMax); })\n    .slice(0, max);\n  return out.length >= min ? out : null;\n}\n\nfunction sanitizeSlug(value) {\n  const s = String(value == null ? '' : value).toLowerCase()\n    .normalize('NFD').replace(/[\\u0300-\\u036f]/g, '')\n    .replace(/[^a-z0-9]+/g, '-').replace(/^-+|-+$/g, '').slice(0, 40);\n  return s || 'escenario';\n}\n\nfunction pad2(n) { return String(n).padStart(2, '0'); }\n\nfunction isVec3(v, maxAbs) {\n  return Array.isArray(v) && v.length === 3 && v.every(function (x) {\n    return typeof x === 'number' && Number.isFinite(x) && Math.abs(x) <= maxAbs;\n  });\n}\n\nfunction normalizeRefs(refs) {\n  const list = Array.isArray(refs) ? refs : [];\n  const out = list\n    .filter(function (r) { return r && typeof r === 'object'; })\n    .map(function (r) {\n      return {\n        jurisdiction: clampStr(r.jurisdiction || 'El Salvador', 60) || 'El Salvador',\n        document: clampStr(r.document || CONTRACT.legalDocumentDefault, 160) || CONTRACT.legalDocumentDefault,\n        ruleCategory: clampStr(r.ruleCategory || 'normas de circulación', 120) || 'normas de circulación',\n      };\n    })\n    .slice(0, 4);\n  if (out.length === 0) {\n    out.push({\n      jurisdiction: 'El Salvador',\n      document: CONTRACT.legalDocumentDefault,\n      ruleCategory: 'normas de circulación',\n    });\n  }\n  return out;\n}\n\n// Final gate: mirrors ScenarioDefinitionSchema + validateScenarioDefinition in\n// core/scenario-definition.ts. Bounds are relaxed enough for template data.\nfunction validateDefinition(def) {\n  const errors = [];\n  const err = function (m) { errors.push(m); };\n  if (!def || typeof def !== 'object') return ['definition is not an object'];\n  if (def.schemaVersion !== 'drivelab.scenario.v1') err('bad schemaVersion');\n  for (const k of ['id', 'slug', 'title', 'description']) {\n    if (typeof def[k] !== 'string' || def[k].trim().length === 0) err('missing ' + k);\n  }\n  const mb = def.moduleBinding || {};\n  if (!CONTRACT.modules[mb.moduleId]) err('unknown moduleId ' + mb.moduleId);\n  if (mb.isPrimaryScenario !== false) err('isPrimaryScenario must be false');\n  const learning = def.learning || {};\n  if (!Array.isArray(learning.lessonIds) || learning.lessonIds.length === 0) err('missing lessonIds');\n  if (!Array.isArray(learning.objectives) || learning.objectives.length === 0) err('missing objectives');\n  const fb = learning.feedback || {};\n  if (!fb.success || !fb.failure || !Array.isArray(fb.hints) || fb.hints.length === 0) err('bad feedback');\n  const sim = def.simulation || {};\n  const known = CONTRACT.patterns.some(function (p) { return p.pattern === sim.pattern; });\n  if (!known) err('unknown pattern ' + sim.pattern);\n  if (!(typeof sim.durationSeconds === 'number' && sim.durationSeconds > 0 && sim.durationSeconds <= 120)) err('bad durationSeconds');\n  const world = sim.world || {};\n  for (const k of ['environment', 'roadType', 'weather', 'timeOfDay']) {\n    if (typeof world[k] !== 'string' || world[k].length === 0) err('bad world.' + k);\n  }\n  if (world.units !== 'meters') err('world.units must be meters');\n  const cam = sim.camera || {};\n  if (CONTRACT.enums.cameraMode.indexOf(cam.mode) === -1) err('bad camera.mode');\n  if (!(typeof cam.fov === 'number' && cam.fov > 0 && cam.fov <= 120)) err('bad camera.fov');\n  if (!isVec3(cam.position, 1000) || !isVec3(cam.lookAt, 1000)) err('bad camera vectors');\n  const assets = Array.isArray(sim.assets) ? sim.assets : [];\n  if (assets.length === 0) err('no assets');\n  const assetIds = new Set();\n  for (const a of assets) {\n    if (!a || !a.id || !a.type || !a.url) err('bad asset entry');\n    else if (assetIds.has(a.id)) err('duplicate asset id ' + a.id);\n    else assetIds.add(a.id);\n  }\n  const actors = Array.isArray(sim.actors) ? sim.actors : [];\n  if (actors.length === 0 || actors.length > 8) err('bad actor count');\n  const actorIds = new Set();\n  for (const a of actors) {\n    if (!a || typeof a.id !== 'string' || a.id.length === 0) { err('bad actor id'); continue; }\n    if (actorIds.has(a.id)) err('duplicate actor id ' + a.id);\n    actorIds.add(a.id);\n    if (!assetIds.has(a.assetId)) err('actor ' + a.id + ' references missing asset ' + a.assetId);\n    if (typeof a.role !== 'string' || a.role.length === 0) err('actor ' + a.id + ' missing role');\n    if (!isVec3(a.initialPosition, 1000) || !isVec3(a.initialRotation, 1000) || !isVec3(a.scale, 1000)) {\n      err('actor ' + a.id + ' has bad vectors');\n    }\n    if (!Array.isArray(a.tags)) err('actor ' + a.id + ' tags must be array');\n  }\n  const interactions = Array.isArray(sim.interactions) ? sim.interactions : [];\n  if (interactions.length === 0) err('no interactions');\n  const interactionIds = new Set(interactions.map(function (i) { return i && i.id; }));\n  for (const inter of interactions) {\n    if (!inter || inter.type !== 'multiple_choice') { err('bad interaction type'); continue; }\n    if (!(typeof inter.appearsAt === 'number' && inter.appearsAt >= 0)) err('bad appearsAt');\n    if (typeof inter.prompt !== 'string' || inter.prompt.trim().length === 0) err('missing prompt');\n    const opts = Array.isArray(inter.options) ? inter.options : [];\n    if (opts.length < 2) err('needs >=2 options');\n    const optIds = new Set();\n    const labels = new Set();\n    let correctCount = 0;\n    for (const o of opts) {\n      if (!o || typeof o.id !== 'string' || typeof o.label !== 'string' || o.label.trim().length === 0) { err('bad option'); continue; }\n      if (optIds.has(o.id)) err('duplicate option id ' + o.id);\n      optIds.add(o.id);\n      const lkey = o.label.trim().toLowerCase();\n      if (labels.has(lkey)) err('duplicate option label');\n      labels.add(lkey);\n      if (typeof o.scoreDelta !== 'number') err('option missing scoreDelta');\n      if (o.isCorrect === true) correctCount += 1;\n    }\n    if (correctCount !== 1) err('needs exactly one correct option');\n    const correct = opts.find(function (o) { return o.id === inter.correctOptionId; });\n    if (!correct || correct.isCorrect !== true) err('correctOptionId mismatch');\n  }\n  const timeline = Array.isArray(sim.timeline) ? sim.timeline : [];\n  if (timeline.length === 0) err('no timeline events');\n  let hasTrigger = false;\n  for (const ev of timeline) {\n    if (!ev || typeof ev.id !== 'string') { err('bad timeline event'); continue; }\n    if (ev.type === 'animate_actor') {\n      if (ev.actorId && !actorIds.has(ev.actorId)) err('timeline event ' + ev.id + ' references missing actor');\n      if (ev.keyframes) {\n        let prev = -1;\n        for (const kf of ev.keyframes) {\n          if (!kf || typeof kf.t !== 'number' || kf.t < 0 || !isVec3(kf.value, 1000)) err('bad keyframe in ' + ev.id);\n          else { if (kf.t < prev) err('keyframes not ascending in ' + ev.id); prev = kf.t; }\n        }\n      }\n    } else if (ev.type === 'trigger') {\n      if (!(ev.trigger && ev.trigger.kind === 'show_interaction' && interactionIds.has(ev.trigger.interactionId))) {\n        err('bad trigger event ' + ev.id);\n      } else { hasTrigger = true; }\n      if (!(typeof ev.at === 'number' && ev.at >= 0)) err('trigger event ' + ev.id + ' missing at');\n    } else { err('unknown timeline event type'); }\n  }\n  if (!hasTrigger) err('no show_interaction trigger');\n  const scoring = def.scoring || {};\n  if (!(scoring.maxScore > 0 && scoring.passScore > 0 && scoring.passScore <= scoring.maxScore)) err('bad scoring');\n  if (!Array.isArray(scoring.metrics) || scoring.metrics.length === 0) err('missing scoring metrics');\n  const meta = def.metadata || {};\n  if (CONTRACT.enums.difficulty.indexOf(meta.difficulty) === -1) err('bad difficulty');\n  if (!(typeof meta.estimatedMinutes === 'number' && meta.estimatedMinutes > 0)) err('bad estimatedMinutes');\n  if (!Array.isArray(meta.tags)) err('bad tags');\n  if (!meta.createdAt || !meta.updatedAt) err('missing timestamps');\n  return errors;\n}\n\n// Strict contract checks for LLM-generated simulations (never applied to templates).\nfunction validateCandidateSim(sim) {\n  const errors = [];\n  const err = function (m) { errors.push(m); };\n  const L = CONTRACT.limits;\n  if (!sim || typeof sim !== 'object') return ['simulation missing'];\n  if (!CONTRACT.patterns.some(function (p) { return p.pattern === sim.pattern; })) err('pattern');\n  if (!(typeof sim.durationSeconds === 'number' && sim.durationSeconds >= L.durationSeconds[0] && sim.durationSeconds <= L.durationSeconds[1])) err('durationSeconds');\n  const world = sim.world || {};\n  if (CONTRACT.enums.environment.indexOf(world.environment) === -1) err('world.environment');\n  if (CONTRACT.enums.roadType.indexOf(world.roadType) === -1) err('world.roadType');\n  if (CONTRACT.enums.weather.indexOf(world.weather) === -1) err('world.weather');\n  if (CONTRACT.enums.timeOfDay.indexOf(world.timeOfDay) === -1) err('world.timeOfDay');\n  const cam = sim.camera || {};\n  if (CONTRACT.enums.cameraMode.indexOf(cam.mode) === -1) err('camera.mode');\n  if (!(typeof cam.fov === 'number' && cam.fov >= L.fov[0] && cam.fov <= L.fov[1])) err('camera.fov');\n  if (!isVec3(cam.position, L.maxAbsCoordinate) || !isVec3(cam.lookAt, L.maxAbsCoordinate)) err('camera vectors');\n  const specs = Array.isArray(sim.actorsSpec) ? sim.actorsSpec : [];\n  if (specs.length < L.actors[0] || specs.length > L.actors[1]) err('actor count');\n  const assetById = {};\n  for (const a of CONTRACT.assets) assetById[a.id] = a;\n  const ids = new Set();\n  let egoCount = 0;\n  for (const s of specs) {\n    if (!s || typeof s.id !== 'string' || !/^[a-z][a-z0-9_]*$/.test(s.id)) { err('actor id'); continue; }\n    if (ids.has(s.id)) err('duplicate actor id');\n    ids.add(s.id);\n    if (!assetById[s.assetId]) err('unknown assetId ' + s.assetId);\n    if (CONTRACT.enums.actorRole.indexOf(s.role) === -1) err('actor role ' + s.role);\n    if (s.role === 'ego_vehicle') egoCount += 1;\n    if (!isVec3(s.initialPosition, L.maxAbsCoordinate) || !isVec3(s.initialRotation, 720) || !isVec3(s.scale, 10)) err('actor vectors');\n    const tags = Array.isArray(s.tags) ? s.tags : [];\n    for (const t of tags) if (CONTRACT.enums.actorTag.indexOf(t) === -1) err('actor tag ' + t);\n  }\n  if (egoCount !== 1) err('needs exactly one ego_vehicle');\n  const timeline = Array.isArray(sim.timeline) ? sim.timeline : [];\n  if (timeline.length < L.timelineEvents[0] || timeline.length > L.timelineEvents[1]) err('timeline count');\n  const evIds = new Set();\n  for (const ev of timeline) {\n    if (!ev || typeof ev.id !== 'string' || ev.type !== 'animate_actor') { err('timeline event type'); continue; }\n    if (evIds.has(ev.id)) err('duplicate event id');\n    evIds.add(ev.id);\n    if (!ids.has(ev.actorId)) err('event actorId');\n    if (['position', 'rotation', 'scale'].indexOf(ev.track) === -1) err('event track');\n    const kfs = Array.isArray(ev.keyframes) ? ev.keyframes : [];\n    if (kfs.length < 2) err('needs >=2 keyframes');\n    let prev = -1;\n    for (const kf of kfs) {\n      if (!kf || typeof kf.t !== 'number' || kf.t < 0 || kf.t > sim.durationSeconds || !isVec3(kf.value, L.maxAbsCoordinate)) err('keyframe');\n      else { if (kf.t <= prev) err('keyframes not ascending'); prev = kf.t; }\n    }\n  }\n  const at = sim.interactionAppearsAt;\n  if (!(typeof at === 'number' && at >= 0 && at <= sim.durationSeconds)) err('interactionAppearsAt');\n  return errors;\n}\n\nfunction buildInteractionOptions(llmInteraction) {\n  if (!llmInteraction || typeof llmInteraction !== 'object') return null;\n  const prompt = clampStr(llmInteraction.prompt, 300);\n  if (prompt.length < 10) return null;\n  const raw = Array.isArray(llmInteraction.options) ? llmInteraction.options : [];\n  const cleaned = [];\n  const seenLabels = new Set();\n  for (const o of raw) {\n    if (!o || typeof o.label !== 'string') continue;\n    const label = clampStr(o.label, 160);\n    const key = label.toLowerCase();\n    if (label.length < 8 || seenLabels.has(key)) continue;\n    seenLabels.add(key);\n    cleaned.push({ label: label, isCorrect: o.isCorrect === true });\n  }\n  const correct = cleaned.filter(function (o) { return o.isCorrect; });\n  const wrong = cleaned.filter(function (o) { return !o.isCorrect; });\n  if (correct.length !== 1 || wrong.length < 1) return null;\n  return { prompt: prompt, correct: correct[0], wrong: wrong.slice(0, 3) };\n}\n\nfunction applyCommonFields(def, llm, story, dateStr, seq, mode) {\n  const moduleId = CONTRACT.modules[llm.moduleId] ? llm.moduleId : null;\n  if (!moduleId) return 'moduleId';\n  const slug = sanitizeSlug(llm.slug || llm.title);\n  def.schemaVersion = 'drivelab.scenario.v1';\n  def.id = 'scenario_news_' + dateStr + '_' + slug + '_' + pad2(seq);\n  def.slug = 'news-' + dateStr + '-' + slug + '-' + pad2(seq);\n  def.title = clampStr(llm.title, 90);\n  def.description = clampStr(llm.description, 400);\n  if (def.title.length < 10 || def.description.length < 30) return 'title/description';\n  def.moduleBinding = { moduleId: moduleId, isPrimaryScenario: false };\n  const objectives = strArray(llm.objectives, 1, 5, 300);\n  const fb = llm.feedback || {};\n  const hints = strArray(fb.hints, 1, 5, 300);\n  const success = clampStr(fb.success, 400);\n  const failure = clampStr(fb.failure, 400);\n  if (!objectives || !hints || success.length < 10 || failure.length < 10) return 'learning texts';\n  def.learning = {\n    lessonIds: CONTRACT.modules[moduleId].lessonIds.slice(),\n    objectives: objectives,\n    feedback: { success: success, failure: failure, hints: hints },\n    legalReferences: normalizeRefs(llm.legalReferences),\n  };\n  const now = new Date().toISOString();\n  const minutes = Number(llm.estimatedMinutes);\n  def.metadata = {\n    difficulty: CONTRACT.enums.difficulty.indexOf(llm.difficulty) === -1 ? 'intermediate' : llm.difficulty,\n    estimatedMinutes: Number.isInteger(minutes) && minutes >= CONTRACT.limits.estimatedMinutes[0] && minutes <= CONTRACT.limits.estimatedMinutes[1] ? minutes : 3,\n    tags: Array.from(new Set(['noticia'].concat(strArray(llm.tags, 0, 6, 40) || []))),\n    createdAt: now,\n    updatedAt: now,\n  };\n  def.scoring = JSON.parse(JSON.stringify(CONTRACT.scoring));\n  return null;\n}\n\nfunction buildOverlay(llm, story, template, dateStr, seq) {\n  if (!template) return { def: null, reason: 'no template for pattern' };\n  const def = JSON.parse(JSON.stringify(template.definition));\n  const commonError = applyCommonFields(def, llm, story, dateStr, seq, 'overlay');\n  if (commonError) return { def: null, reason: commonError };\n  const inter = def.simulation.interactions[0];\n  const parsedQuiz = buildInteractionOptions(llm.interaction);\n  if (!parsedQuiz) return { def: null, reason: 'interaction' };\n  const correctSlot = inter.options.find(function (o) { return o.id === inter.correctOptionId; });\n  if (!correctSlot) return { def: null, reason: 'template correct slot' };\n  const wrongSlots = inter.options.filter(function (o) { return o.id !== inter.correctOptionId; });\n  const rebuilt = [];\n  correctSlot.label = parsedQuiz.correct.label;\n  correctSlot.isCorrect = true;\n  rebuilt.push(correctSlot);\n  for (let i = 0; i < wrongSlots.length && i < parsedQuiz.wrong.length; i += 1) {\n    wrongSlots[i].label = parsedQuiz.wrong[i].label;\n    wrongSlots[i].isCorrect = false;\n    rebuilt.push(wrongSlots[i]);\n  }\n  if (rebuilt.length < 3) return { def: null, reason: 'not enough options' };\n  inter.options = rebuilt;\n  inter.prompt = parsedQuiz.prompt;\n  return { def: def, reason: null };\n}\n\nfunction buildNewSimulation(llm, story, dateStr, seq) {\n  const sim = llm.simulation;\n  const candidateErrors = validateCandidateSim(sim);\n  if (candidateErrors.length > 0) return { def: null, reason: 'candidate: ' + candidateErrors.slice(0, 3).join('; ') };\n  const parsedQuiz = buildInteractionOptions(llm.interaction);\n  if (!parsedQuiz) return { def: null, reason: 'interaction' };\n  const assetById = {};\n  for (const a of CONTRACT.assets) assetById[a.id] = a;\n  const usedAssetIds = Array.from(new Set(sim.actorsSpec.map(function (s) { return s.assetId; })));\n  const assets = usedAssetIds.map(function (id) { return JSON.parse(JSON.stringify(assetById[id])); });\n  const actors = sim.actorsSpec.map(function (s) {\n    return {\n      id: s.id,\n      assetId: s.assetId,\n      role: s.role,\n      initialPosition: s.initialPosition,\n      initialRotation: s.initialRotation,\n      scale: s.scale,\n      tags: Array.isArray(s.tags) ? s.tags : [],\n    };\n  });\n  const options = [{ id: 'opt_1', label: parsedQuiz.correct.label, isCorrect: true, scoreDelta: 100 }];\n  parsedQuiz.wrong.forEach(function (o, i) {\n    options.push({ id: 'opt_' + (i + 2), label: o.label, isCorrect: false, scoreDelta: -25 });\n  });\n  const interaction = {\n    id: 'interaction_main',\n    type: 'multiple_choice',\n    appearsAt: sim.interactionAppearsAt,\n    prompt: parsedQuiz.prompt,\n    options: options,\n    correctOptionId: 'opt_1',\n  };\n  const timeline = sim.timeline.map(function (ev) {\n    return {\n      id: ev.id,\n      type: 'animate_actor',\n      actorId: ev.actorId,\n      track: ev.track,\n      keyframes: ev.keyframes,\n      interpolation: ev.interpolation === 'smooth' ? 'smooth' : 'linear',\n    };\n  });\n  timeline.push({\n    id: 'ev_show_interaction',\n    type: 'trigger',\n    at: sim.interactionAppearsAt,\n    trigger: { kind: 'show_interaction', interactionId: 'interaction_main' },\n  });\n  const def = {};\n  const commonError = applyCommonFields(def, llm, story, dateStr, seq, 'new_simulation');\n  if (commonError) return { def: null, reason: commonError };\n  def.simulation = {\n    pattern: sim.pattern,\n    durationSeconds: sim.durationSeconds,\n    world: {\n      environment: sim.world.environment,\n      roadType: sim.world.roadType,\n      weather: sim.world.weather,\n      timeOfDay: sim.world.timeOfDay,\n      units: 'meters',\n    },\n    camera: {\n      mode: sim.camera.mode,\n      position: sim.camera.position,\n      lookAt: sim.camera.lookAt,\n      fov: sim.camera.fov,\n    },\n    assets: assets,\n    actors: actors,\n    timeline: timeline,\n    interactions: [interaction],\n  };\n  return { def: def, reason: null };\n}\n\nfunction templatesByPattern(templateRows) {\n  const map = {};\n  const sorted = templateRows.slice().sort(function (a, b) { return String(a.id).localeCompare(String(b.id)); });\n  for (const row of sorted) {\n    if (row && row.pattern && row.definition && !map[row.pattern]) map[row.pattern] = row;\n  }\n  return map;\n}\n\nfunction fallbackTemplate(pattern, tplMap) {\n  const entry = CONTRACT.patterns.find(function (p) { return p.pattern === pattern; });\n  if (!entry) return null;\n  return tplMap[entry.fallbackPattern] || tplMap[pattern] || null;\n}\n\nfunction buildScenarioRow(llm, story, tplMap, dateStr, seq) {\n  if (!llm || typeof llm !== 'object') return null;\n  const pattern = llm.pattern;\n  if (!CONTRACT.patterns.some(function (p) { return p.pattern === pattern; })) return null;\n  let mode = llm.mode === 'new_simulation' && llm.simulation ? 'new_simulation' : 'overlay';\n  let built = null;\n  if (mode === 'new_simulation') {\n    built = buildNewSimulation(llm, story, dateStr, seq);\n    if (!built.def) {\n      mode = 'overlay';\n      built = buildOverlay(llm, story, fallbackTemplate(pattern, tplMap), dateStr, seq);\n    }\n  } else {\n    built = buildOverlay(llm, story, fallbackTemplate(pattern, tplMap), dateStr, seq);\n  }\n  if (!built.def) return null;\n  const finalErrors = validateDefinition(built.def);\n  if (finalErrors.length > 0) return null;\n  return {\n    id: built.def.id,\n    definition: built.def,\n    generation_mode: mode,\n    news_title: story.news_title,\n    news_url: story.news_url,\n    news_source: story.news_source,\n    news_published_at: story.news_published_at,\n    news_summary: story.news_summary,\n  };\n}\n\nfunction todayDateStr() {\n  const d = new Date();\n  return String(d.getUTCFullYear()) + pad2(d.getUTCMonth() + 1) + pad2(d.getUTCDate());\n}\n\nconst prev = $input.first().json;\nconst need = Math.max(1, 12 - (prev.scenarios || []).length);\nconst newsPool = prev.newsPool || [];\nconst body = {\n  model: 'gpt-4.1',\n  temperature: 0.8,\n  max_tokens: 16000,\n  response_format: { type: 'json_object' },\n  messages: [\n    { role: 'system', content: \"Eres el diseñador pedagógico de DriverLab (app salvadoreña de manejo). Recibirás JSON {\\\"temas\\\":[...],\\\"titulares\\\":[...],\\\"generar\\\":N}. Generá exactamente N escenarios ADICIONALES como variaciones plausibles de esos temas del día en El Salvador. Devolvé SOLO JSON: {\\\"items\\\":[...]} donde cada item usa mode \\\"overlay\\\" con esta forma exacta: {\\\"mode\\\":\\\"overlay\\\",\\\"pattern\\\":\\\"<repetir el pattern asignado>\\\",\\\"slug\\\":\\\"kebab-corto-descriptivo\\\",\\\"title\\\":\\\"máx 70 caracteres\\\",\\\"description\\\":\\\"2-3 frases ancladas en la noticia\\\",\\\"moduleId\\\":\\\"<uno de: 01-fundamentos-legales, 02-licencia-y-documentos, 03-vehiculo-seguro, 04-reglas-de-circulacion, 05-peatones-y-usuarios-vulnerables, 06-senalizacion-vial, 07-conduccion-defensiva, 08-riesgos-que-matan, 09-infracciones-y-consecuencias, 10-transporte-publico-y-pasajeros, 11-motociclistas, 12-practica-para-examen>\\\",\\\"objectives\\\":[\\\"1 a 3 objetivos de aprendizaje\\\"],\\\"feedback\\\":{\\\"success\\\":\\\"qué hizo bien\\\",\\\"failure\\\":\\\"qué salió mal y por qué\\\",\\\"hints\\\":[\\\"1 a 3 pistas\\\"]},\\\"legalReferences\\\":[{\\\"jurisdiction\\\":\\\"El Salvador\\\",\\\"document\\\":\\\"Ley de Transporte Terrestre, Tránsito y Seguridad Vial\\\",\\\"ruleCategory\\\":\\\"categoría de la regla\\\"}],\\\"interaction\\\":{\\\"prompt\\\":\\\"pregunta de decisión en el momento crítico\\\",\\\"options\\\":[{\\\"label\\\":\\\"opción\\\",\\\"isCorrect\\\":true},{\\\"label\\\":\\\"opción\\\",\\\"isCorrect\\\":false},{\\\"label\\\":\\\"opción\\\",\\\"isCorrect\\\":false}]},\\\"difficulty\\\":\\\"basic|intermediate|advanced\\\",\\\"estimatedMinutes\\\":3,\\\"tags\\\":[\\\"noticia\\\",\\\"tema\\\"]} Usá patterns variados de: stop_intersection, document_checkpoint, vehicle_safety_rain, traffic_light_decision, pedestrian_crossing, unsafe_lane_change, phone_distraction, bus_stop_hazard, motorcycle_awareness, roundabout_priority, safe_following_distance, speed_low_visibility, unsafe_overtake. EXACTAMENTE una opción isCorrect true por item, 3-4 opciones, labels 8-120 caracteres distintas. Español salvadoreño, tono educativo.\" },\n    {\n      role: 'user',\n      content: JSON.stringify({\n        temas: (prev.themes && prev.themes.length > 0) ? prev.themes : ['accidentes de tránsito', 'motociclistas', 'peatones', 'lluvia y distancia de frenado', 'distracción con el celular'],\n        titulares: newsPool.slice(0, 10).map(function (s) { return s.news_title; }),\n        generar: need,\n      }),\n    },\n  ],\n};\nreturn [{ json: { body: body, prev: prev } }];\n"
      }
    },
    {
      "name": "OpenAI Top-Up",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1240,
        60
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.body) }}",
        "options": {
          "timeout": 180000
        }
      },
      "credentials": {
        "openAiApi": {
          "id": "__OPENAI_CRED_ID__",
          "name": "DriverLab OpenAI"
        }
      }
    },
    {
      "name": "Build & Validate Top-Up",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1420,
        60
      ],
      "alwaysOutputData": true,
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "\nconst CONTRACT = {\"version\":1,\"generatedAt\":\"2026-07-05T06:54:51.376Z\",\"patterns\":[{\"pattern\":\"stop_intersection\",\"hasTemplate\":true,\"fallbackPattern\":\"stop_intersection\"},{\"pattern\":\"document_checkpoint\",\"hasTemplate\":true,\"fallbackPattern\":\"document_checkpoint\"},{\"pattern\":\"vehicle_safety_rain\",\"hasTemplate\":true,\"fallbackPattern\":\"vehicle_safety_rain\"},{\"pattern\":\"traffic_light_decision\",\"hasTemplate\":true,\"fallbackPattern\":\"traffic_light_decision\"},{\"pattern\":\"pedestrian_crossing\",\"hasTemplate\":true,\"fallbackPattern\":\"pedestrian_crossing\"},{\"pattern\":\"unsafe_lane_change\",\"hasTemplate\":true,\"fallbackPattern\":\"unsafe_lane_change\"},{\"pattern\":\"phone_distraction\",\"hasTemplate\":true,\"fallbackPattern\":\"phone_distraction\"},{\"pattern\":\"bus_stop_hazard\",\"hasTemplate\":true,\"fallbackPattern\":\"bus_stop_hazard\"},{\"pattern\":\"motorcycle_awareness\",\"hasTemplate\":true,\"fallbackPattern\":\"motorcycle_awareness\"},{\"pattern\":\"roundabout_priority\",\"hasTemplate\":true,\"fallbackPattern\":\"roundabout_priority\"},{\"pattern\":\"safe_following_distance\",\"hasTemplate\":false,\"fallbackPattern\":\"vehicle_safety_rain\"},{\"pattern\":\"speed_low_visibility\",\"hasTemplate\":false,\"fallbackPattern\":\"vehicle_safety_rain\"},{\"pattern\":\"unsafe_overtake\",\"hasTemplate\":false,\"fallbackPattern\":\"unsafe_lane_change\"}],\"modules\":{\"01-fundamentos-legales\":{\"lessonIds\":[\"01-fundamentos-legales:deber-de-obedecer\",\"01-fundamentos-legales:responsabilidad-preventiva\"],\"templateId\":\"scenario_fundamentos_legales_alto_001\",\"templatePattern\":\"stop_intersection\"},\"02-licencia-y-documentos\":{\"lessonIds\":[\"02-licencia-y-documentos:habilitacion\",\"02-licencia-y-documentos:documentos-obligatorios\"],\"templateId\":\"scenario_licencia_documentos_control_001\",\"templatePattern\":\"document_checkpoint\"},\"03-vehiculo-seguro\":{\"lessonIds\":[\"03-vehiculo-seguro:revision-preventiva\",\"03-vehiculo-seguro:neumaticos-y-frenos\"],\"templateId\":\"scenario_vehiculo_seguro_lluvia_001\",\"templatePattern\":\"vehicle_safety_rain\"},\"04-reglas-de-circulacion\":{\"lessonIds\":[\"04-reglas-de-circulacion:semaforos\",\"04-reglas-de-circulacion:control-de-interseccion\"],\"templateId\":\"scenario_reglas_circulacion_semaforo_001\",\"templatePattern\":\"traffic_light_decision\"},\"05-peatones-y-usuarios-vulnerables\":{\"lessonIds\":[\"05-peatones-y-usuarios-vulnerables:prioridad-peatonal\",\"05-peatones-y-usuarios-vulnerables:anticipacion\"],\"templateId\":\"scenario_peatones_cruce_001\",\"templatePattern\":\"pedestrian_crossing\"},\"06-senalizacion-vial\":{\"lessonIds\":[\"06-senalizacion-vial:senales-reglamentacion\",\"06-senalizacion-vial:marcas-viales\"],\"templateId\":\"scenario_senalizacion_alto_001\",\"templatePattern\":\"stop_intersection\"},\"07-conduccion-defensiva\":{\"lessonIds\":[\"07-conduccion-defensiva:punto-ciego\",\"07-conduccion-defensiva:anticipar-error-ajeno\"],\"templateId\":\"scenario_conduccion_defensiva_punto_ciego_001\",\"templatePattern\":\"unsafe_lane_change\"},\"08-riesgos-que-matan\":{\"lessonIds\":[\"08-riesgos-que-matan:distraccion\",\"08-riesgos-que-matan:tiempo-de-reaccion\"],\"templateId\":\"scenario_riesgos_que_matan_distraccion_001\",\"templatePattern\":\"phone_distraction\"},\"09-infracciones-y-consecuencias\":{\"lessonIds\":[\"09-infracciones-y-consecuencias:evidencia\",\"09-infracciones-y-consecuencias:sancion\"],\"templateId\":\"scenario_infracciones_consecuencias_rojo_001\",\"templatePattern\":\"traffic_light_decision\"},\"10-transporte-publico-y-pasajeros\":{\"lessonIds\":[\"10-transporte-publico-y-pasajeros:bus-detenido\",\"10-transporte-publico-y-pasajeros:usuarios-vulnerables\"],\"templateId\":\"scenario_transporte_publico_bus_001\",\"templatePattern\":\"bus_stop_hazard\"},\"11-motociclistas\":{\"lessonIds\":[\"11-motociclistas:vulnerabilidad\",\"11-motociclistas:margen-lateral\"],\"templateId\":\"scenario_motociclistas_punto_ciego_001\",\"templatePattern\":\"motorcycle_awareness\"},\"12-practica-para-examen\":{\"lessonIds\":[\"12-practica-para-examen:prioridad-integrada\",\"12-practica-para-examen:decision-final\"],\"templateId\":\"scenario_practica_examen_redondel_001\",\"templatePattern\":\"roundabout_priority\"}},\"assets\":[{\"id\":\"asset_sedan\",\"type\":\"vehicle\",\"url\":\"/models/sedan.glb\"},{\"id\":\"asset_taxi\",\"type\":\"vehicle\",\"url\":\"/models/taxi.glb\"},{\"id\":\"asset_stop_sign\",\"type\":\"sign\",\"url\":\"/assets/signs/stop.glb\"},{\"id\":\"asset_police\",\"type\":\"vehicle\",\"url\":\"/models/police.glb\"},{\"id\":\"asset_cone\",\"type\":\"road_asset\",\"url\":\"/models/cone.glb\"},{\"id\":\"asset_hatchback\",\"type\":\"vehicle\",\"url\":\"/models/hatchback-sports.glb\"},{\"id\":\"asset_crosswalk\",\"type\":\"road_marking\",\"url\":\"/assets/road/crosswalk.glb\"},{\"id\":\"asset_pickup\",\"type\":\"vehicle\",\"url\":\"/models/truck.glb\"},{\"id\":\"asset_traffic_light\",\"type\":\"signal\",\"url\":\"/assets/signs/traffic-light.glb\"},{\"id\":\"asset_pedestrian\",\"type\":\"character\",\"url\":\"/models/cone.glb\"},{\"id\":\"asset_suv\",\"type\":\"vehicle\",\"url\":\"/models/suv.glb\"},{\"id\":\"asset_motorcycle\",\"type\":\"vehicle\",\"url\":\"/bike/low%20poly%20dirta%20bike%20with%20rider%201_FBX/DirtBike_With_Player.FBX\"},{\"id\":\"asset_truck\",\"type\":\"vehicle\",\"url\":\"/models/truck.glb\"},{\"id\":\"asset_bus\",\"type\":\"vehicle\",\"url\":\"/models/van.glb\"}],\"enums\":{\"environment\":[\"urban\",\"highway\",\"rural\"],\"weather\":[\"clear\",\"rain\",\"fog\"],\"timeOfDay\":[\"day\",\"dusk\",\"night\"],\"roadType\":[\"single_carriageway\",\"multi_lane_avenue\",\"roundabout\",\"intersection\"],\"cameraMode\":[\"fixed\",\"third_person_follow\",\"top_down\",\"cinematic\"],\"difficulty\":[\"basic\",\"intermediate\",\"advanced\"],\"actorRole\":[\"ego_vehicle\",\"offender_vehicle\",\"oncoming_vehicle\",\"traffic_vehicle\",\"pedestrian\",\"police_officer\"],\"actorTag\":[\"crossing\",\"lane_change\",\"stopped\",\"fast\",\"oncoming\",\"offender\",\"vulnerable\"]},\"limits\":{\"durationSeconds\":[10,60],\"actors\":[2,6],\"timelineEvents\":[1,12],\"options\":[3,4],\"estimatedMinutes\":[2,10],\"titleMaxChars\":70,\"optionLabelChars\":[8,120],\"fov\":[30,90],\"maxAbsCoordinate\":200},\"scoring\":{\"maxScore\":100,\"passScore\":70,\"metrics\":[{\"id\":\"decision\",\"label\":\"Decisión segura\",\"weight\":1}]},\"legalDocumentDefault\":\"Ley de Transporte Terrestre, Tránsito y Seguridad Vial\"};\n\nfunction rowsOf(nodeName) {\n  let raw = [];\n  try { raw = $(nodeName).all().map(function (i) { return i.json; }); } catch (e) { raw = []; }\n  const flat = [];\n  for (const r of raw) {\n    if (Array.isArray(r)) { for (const x of r) flat.push(x); }\n    else if (r && Array.isArray(r.data)) { for (const x of r.data) flat.push(x); }\n    else if (r && typeof r === 'object' && Object.keys(r).length > 0) flat.push(r);\n  }\n  return flat;\n}\n\nfunction parseOpenAI(json) {\n  try {\n    const content = json && json.choices && json.choices[0] && json.choices[0].message\n      ? json.choices[0].message.content : null;\n    if (!content) return null;\n    return JSON.parse(content);\n  } catch (e) { return null; }\n}\n\nfunction clampStr(value, max) {\n  const s = String(value == null ? '' : value).replace(/\\s+/g, ' ').trim();\n  return s.length > max ? s.slice(0, max - 1).trim() + '…' : s;\n}\n\nfunction strArray(value, min, max, itemMax) {\n  if (!Array.isArray(value)) return null;\n  const out = value\n    .filter(function (v) { return typeof v === 'string' && v.trim().length > 0; })\n    .map(function (v) { return clampStr(v, itemMax); })\n    .slice(0, max);\n  return out.length >= min ? out : null;\n}\n\nfunction sanitizeSlug(value) {\n  const s = String(value == null ? '' : value).toLowerCase()\n    .normalize('NFD').replace(/[\\u0300-\\u036f]/g, '')\n    .replace(/[^a-z0-9]+/g, '-').replace(/^-+|-+$/g, '').slice(0, 40);\n  return s || 'escenario';\n}\n\nfunction pad2(n) { return String(n).padStart(2, '0'); }\n\nfunction isVec3(v, maxAbs) {\n  return Array.isArray(v) && v.length === 3 && v.every(function (x) {\n    return typeof x === 'number' && Number.isFinite(x) && Math.abs(x) <= maxAbs;\n  });\n}\n\nfunction normalizeRefs(refs) {\n  const list = Array.isArray(refs) ? refs : [];\n  const out = list\n    .filter(function (r) { return r && typeof r === 'object'; })\n    .map(function (r) {\n      return {\n        jurisdiction: clampStr(r.jurisdiction || 'El Salvador', 60) || 'El Salvador',\n        document: clampStr(r.document || CONTRACT.legalDocumentDefault, 160) || CONTRACT.legalDocumentDefault,\n        ruleCategory: clampStr(r.ruleCategory || 'normas de circulación', 120) || 'normas de circulación',\n      };\n    })\n    .slice(0, 4);\n  if (out.length === 0) {\n    out.push({\n      jurisdiction: 'El Salvador',\n      document: CONTRACT.legalDocumentDefault,\n      ruleCategory: 'normas de circulación',\n    });\n  }\n  return out;\n}\n\n// Final gate: mirrors ScenarioDefinitionSchema + validateScenarioDefinition in\n// core/scenario-definition.ts. Bounds are relaxed enough for template data.\nfunction validateDefinition(def) {\n  const errors = [];\n  const err = function (m) { errors.push(m); };\n  if (!def || typeof def !== 'object') return ['definition is not an object'];\n  if (def.schemaVersion !== 'drivelab.scenario.v1') err('bad schemaVersion');\n  for (const k of ['id', 'slug', 'title', 'description']) {\n    if (typeof def[k] !== 'string' || def[k].trim().length === 0) err('missing ' + k);\n  }\n  const mb = def.moduleBinding || {};\n  if (!CONTRACT.modules[mb.moduleId]) err('unknown moduleId ' + mb.moduleId);\n  if (mb.isPrimaryScenario !== false) err('isPrimaryScenario must be false');\n  const learning = def.learning || {};\n  if (!Array.isArray(learning.lessonIds) || learning.lessonIds.length === 0) err('missing lessonIds');\n  if (!Array.isArray(learning.objectives) || learning.objectives.length === 0) err('missing objectives');\n  const fb = learning.feedback || {};\n  if (!fb.success || !fb.failure || !Array.isArray(fb.hints) || fb.hints.length === 0) err('bad feedback');\n  const sim = def.simulation || {};\n  const known = CONTRACT.patterns.some(function (p) { return p.pattern === sim.pattern; });\n  if (!known) err('unknown pattern ' + sim.pattern);\n  if (!(typeof sim.durationSeconds === 'number' && sim.durationSeconds > 0 && sim.durationSeconds <= 120)) err('bad durationSeconds');\n  const world = sim.world || {};\n  for (const k of ['environment', 'roadType', 'weather', 'timeOfDay']) {\n    if (typeof world[k] !== 'string' || world[k].length === 0) err('bad world.' + k);\n  }\n  if (world.units !== 'meters') err('world.units must be meters');\n  const cam = sim.camera || {};\n  if (CONTRACT.enums.cameraMode.indexOf(cam.mode) === -1) err('bad camera.mode');\n  if (!(typeof cam.fov === 'number' && cam.fov > 0 && cam.fov <= 120)) err('bad camera.fov');\n  if (!isVec3(cam.position, 1000) || !isVec3(cam.lookAt, 1000)) err('bad camera vectors');\n  const assets = Array.isArray(sim.assets) ? sim.assets : [];\n  if (assets.length === 0) err('no assets');\n  const assetIds = new Set();\n  for (const a of assets) {\n    if (!a || !a.id || !a.type || !a.url) err('bad asset entry');\n    else if (assetIds.has(a.id)) err('duplicate asset id ' + a.id);\n    else assetIds.add(a.id);\n  }\n  const actors = Array.isArray(sim.actors) ? sim.actors : [];\n  if (actors.length === 0 || actors.length > 8) err('bad actor count');\n  const actorIds = new Set();\n  for (const a of actors) {\n    if (!a || typeof a.id !== 'string' || a.id.length === 0) { err('bad actor id'); continue; }\n    if (actorIds.has(a.id)) err('duplicate actor id ' + a.id);\n    actorIds.add(a.id);\n    if (!assetIds.has(a.assetId)) err('actor ' + a.id + ' references missing asset ' + a.assetId);\n    if (typeof a.role !== 'string' || a.role.length === 0) err('actor ' + a.id + ' missing role');\n    if (!isVec3(a.initialPosition, 1000) || !isVec3(a.initialRotation, 1000) || !isVec3(a.scale, 1000)) {\n      err('actor ' + a.id + ' has bad vectors');\n    }\n    if (!Array.isArray(a.tags)) err('actor ' + a.id + ' tags must be array');\n  }\n  const interactions = Array.isArray(sim.interactions) ? sim.interactions : [];\n  if (interactions.length === 0) err('no interactions');\n  const interactionIds = new Set(interactions.map(function (i) { return i && i.id; }));\n  for (const inter of interactions) {\n    if (!inter || inter.type !== 'multiple_choice') { err('bad interaction type'); continue; }\n    if (!(typeof inter.appearsAt === 'number' && inter.appearsAt >= 0)) err('bad appearsAt');\n    if (typeof inter.prompt !== 'string' || inter.prompt.trim().length === 0) err('missing prompt');\n    const opts = Array.isArray(inter.options) ? inter.options : [];\n    if (opts.length < 2) err('needs >=2 options');\n    const optIds = new Set();\n    const labels = new Set();\n    let correctCount = 0;\n    for (const o of opts) {\n      if (!o || typeof o.id !== 'string' || typeof o.label !== 'string' || o.label.trim().length === 0) { err('bad option'); continue; }\n      if (optIds.has(o.id)) err('duplicate option id ' + o.id);\n      optIds.add(o.id);\n      const lkey = o.label.trim().toLowerCase();\n      if (labels.has(lkey)) err('duplicate option label');\n      labels.add(lkey);\n      if (typeof o.scoreDelta !== 'number') err('option missing scoreDelta');\n      if (o.isCorrect === true) correctCount += 1;\n    }\n    if (correctCount !== 1) err('needs exactly one correct option');\n    const correct = opts.find(function (o) { return o.id === inter.correctOptionId; });\n    if (!correct || correct.isCorrect !== true) err('correctOptionId mismatch');\n  }\n  const timeline = Array.isArray(sim.timeline) ? sim.timeline : [];\n  if (timeline.length === 0) err('no timeline events');\n  let hasTrigger = false;\n  for (const ev of timeline) {\n    if (!ev || typeof ev.id !== 'string') { err('bad timeline event'); continue; }\n    if (ev.type === 'animate_actor') {\n      if (ev.actorId && !actorIds.has(ev.actorId)) err('timeline event ' + ev.id + ' references missing actor');\n      if (ev.keyframes) {\n        let prev = -1;\n        for (const kf of ev.keyframes) {\n          if (!kf || typeof kf.t !== 'number' || kf.t < 0 || !isVec3(kf.value, 1000)) err('bad keyframe in ' + ev.id);\n          else { if (kf.t < prev) err('keyframes not ascending in ' + ev.id); prev = kf.t; }\n        }\n      }\n    } else if (ev.type === 'trigger') {\n      if (!(ev.trigger && ev.trigger.kind === 'show_interaction' && interactionIds.has(ev.trigger.interactionId))) {\n        err('bad trigger event ' + ev.id);\n      } else { hasTrigger = true; }\n      if (!(typeof ev.at === 'number' && ev.at >= 0)) err('trigger event ' + ev.id + ' missing at');\n    } else { err('unknown timeline event type'); }\n  }\n  if (!hasTrigger) err('no show_interaction trigger');\n  const scoring = def.scoring || {};\n  if (!(scoring.maxScore > 0 && scoring.passScore > 0 && scoring.passScore <= scoring.maxScore)) err('bad scoring');\n  if (!Array.isArray(scoring.metrics) || scoring.metrics.length === 0) err('missing scoring metrics');\n  const meta = def.metadata || {};\n  if (CONTRACT.enums.difficulty.indexOf(meta.difficulty) === -1) err('bad difficulty');\n  if (!(typeof meta.estimatedMinutes === 'number' && meta.estimatedMinutes > 0)) err('bad estimatedMinutes');\n  if (!Array.isArray(meta.tags)) err('bad tags');\n  if (!meta.createdAt || !meta.updatedAt) err('missing timestamps');\n  return errors;\n}\n\n// Strict contract checks for LLM-generated simulations (never applied to templates).\nfunction validateCandidateSim(sim) {\n  const errors = [];\n  const err = function (m) { errors.push(m); };\n  const L = CONTRACT.limits;\n  if (!sim || typeof sim !== 'object') return ['simulation missing'];\n  if (!CONTRACT.patterns.some(function (p) { return p.pattern === sim.pattern; })) err('pattern');\n  if (!(typeof sim.durationSeconds === 'number' && sim.durationSeconds >= L.durationSeconds[0] && sim.durationSeconds <= L.durationSeconds[1])) err('durationSeconds');\n  const world = sim.world || {};\n  if (CONTRACT.enums.environment.indexOf(world.environment) === -1) err('world.environment');\n  if (CONTRACT.enums.roadType.indexOf(world.roadType) === -1) err('world.roadType');\n  if (CONTRACT.enums.weather.indexOf(world.weather) === -1) err('world.weather');\n  if (CONTRACT.enums.timeOfDay.indexOf(world.timeOfDay) === -1) err('world.timeOfDay');\n  const cam = sim.camera || {};\n  if (CONTRACT.enums.cameraMode.indexOf(cam.mode) === -1) err('camera.mode');\n  if (!(typeof cam.fov === 'number' && cam.fov >= L.fov[0] && cam.fov <= L.fov[1])) err('camera.fov');\n  if (!isVec3(cam.position, L.maxAbsCoordinate) || !isVec3(cam.lookAt, L.maxAbsCoordinate)) err('camera vectors');\n  const specs = Array.isArray(sim.actorsSpec) ? sim.actorsSpec : [];\n  if (specs.length < L.actors[0] || specs.length > L.actors[1]) err('actor count');\n  const assetById = {};\n  for (const a of CONTRACT.assets) assetById[a.id] = a;\n  const ids = new Set();\n  let egoCount = 0;\n  for (const s of specs) {\n    if (!s || typeof s.id !== 'string' || !/^[a-z][a-z0-9_]*$/.test(s.id)) { err('actor id'); continue; }\n    if (ids.has(s.id)) err('duplicate actor id');\n    ids.add(s.id);\n    if (!assetById[s.assetId]) err('unknown assetId ' + s.assetId);\n    if (CONTRACT.enums.actorRole.indexOf(s.role) === -1) err('actor role ' + s.role);\n    if (s.role === 'ego_vehicle') egoCount += 1;\n    if (!isVec3(s.initialPosition, L.maxAbsCoordinate) || !isVec3(s.initialRotation, 720) || !isVec3(s.scale, 10)) err('actor vectors');\n    const tags = Array.isArray(s.tags) ? s.tags : [];\n    for (const t of tags) if (CONTRACT.enums.actorTag.indexOf(t) === -1) err('actor tag ' + t);\n  }\n  if (egoCount !== 1) err('needs exactly one ego_vehicle');\n  const timeline = Array.isArray(sim.timeline) ? sim.timeline : [];\n  if (timeline.length < L.timelineEvents[0] || timeline.length > L.timelineEvents[1]) err('timeline count');\n  const evIds = new Set();\n  for (const ev of timeline) {\n    if (!ev || typeof ev.id !== 'string' || ev.type !== 'animate_actor') { err('timeline event type'); continue; }\n    if (evIds.has(ev.id)) err('duplicate event id');\n    evIds.add(ev.id);\n    if (!ids.has(ev.actorId)) err('event actorId');\n    if (['position', 'rotation', 'scale'].indexOf(ev.track) === -1) err('event track');\n    const kfs = Array.isArray(ev.keyframes) ? ev.keyframes : [];\n    if (kfs.length < 2) err('needs >=2 keyframes');\n    let prev = -1;\n    for (const kf of kfs) {\n      if (!kf || typeof kf.t !== 'number' || kf.t < 0 || kf.t > sim.durationSeconds || !isVec3(kf.value, L.maxAbsCoordinate)) err('keyframe');\n      else { if (kf.t <= prev) err('keyframes not ascending'); prev = kf.t; }\n    }\n  }\n  const at = sim.interactionAppearsAt;\n  if (!(typeof at === 'number' && at >= 0 && at <= sim.durationSeconds)) err('interactionAppearsAt');\n  return errors;\n}\n\nfunction buildInteractionOptions(llmInteraction) {\n  if (!llmInteraction || typeof llmInteraction !== 'object') return null;\n  const prompt = clampStr(llmInteraction.prompt, 300);\n  if (prompt.length < 10) return null;\n  const raw = Array.isArray(llmInteraction.options) ? llmInteraction.options : [];\n  const cleaned = [];\n  const seenLabels = new Set();\n  for (const o of raw) {\n    if (!o || typeof o.label !== 'string') continue;\n    const label = clampStr(o.label, 160);\n    const key = label.toLowerCase();\n    if (label.length < 8 || seenLabels.has(key)) continue;\n    seenLabels.add(key);\n    cleaned.push({ label: label, isCorrect: o.isCorrect === true });\n  }\n  const correct = cleaned.filter(function (o) { return o.isCorrect; });\n  const wrong = cleaned.filter(function (o) { return !o.isCorrect; });\n  if (correct.length !== 1 || wrong.length < 1) return null;\n  return { prompt: prompt, correct: correct[0], wrong: wrong.slice(0, 3) };\n}\n\nfunction applyCommonFields(def, llm, story, dateStr, seq, mode) {\n  const moduleId = CONTRACT.modules[llm.moduleId] ? llm.moduleId : null;\n  if (!moduleId) return 'moduleId';\n  const slug = sanitizeSlug(llm.slug || llm.title);\n  def.schemaVersion = 'drivelab.scenario.v1';\n  def.id = 'scenario_news_' + dateStr + '_' + slug + '_' + pad2(seq);\n  def.slug = 'news-' + dateStr + '-' + slug + '-' + pad2(seq);\n  def.title = clampStr(llm.title, 90);\n  def.description = clampStr(llm.description, 400);\n  if (def.title.length < 10 || def.description.length < 30) return 'title/description';\n  def.moduleBinding = { moduleId: moduleId, isPrimaryScenario: false };\n  const objectives = strArray(llm.objectives, 1, 5, 300);\n  const fb = llm.feedback || {};\n  const hints = strArray(fb.hints, 1, 5, 300);\n  const success = clampStr(fb.success, 400);\n  const failure = clampStr(fb.failure, 400);\n  if (!objectives || !hints || success.length < 10 || failure.length < 10) return 'learning texts';\n  def.learning = {\n    lessonIds: CONTRACT.modules[moduleId].lessonIds.slice(),\n    objectives: objectives,\n    feedback: { success: success, failure: failure, hints: hints },\n    legalReferences: normalizeRefs(llm.legalReferences),\n  };\n  const now = new Date().toISOString();\n  const minutes = Number(llm.estimatedMinutes);\n  def.metadata = {\n    difficulty: CONTRACT.enums.difficulty.indexOf(llm.difficulty) === -1 ? 'intermediate' : llm.difficulty,\n    estimatedMinutes: Number.isInteger(minutes) && minutes >= CONTRACT.limits.estimatedMinutes[0] && minutes <= CONTRACT.limits.estimatedMinutes[1] ? minutes : 3,\n    tags: Array.from(new Set(['noticia'].concat(strArray(llm.tags, 0, 6, 40) || []))),\n    createdAt: now,\n    updatedAt: now,\n  };\n  def.scoring = JSON.parse(JSON.stringify(CONTRACT.scoring));\n  return null;\n}\n\nfunction buildOverlay(llm, story, template, dateStr, seq) {\n  if (!template) return { def: null, reason: 'no template for pattern' };\n  const def = JSON.parse(JSON.stringify(template.definition));\n  const commonError = applyCommonFields(def, llm, story, dateStr, seq, 'overlay');\n  if (commonError) return { def: null, reason: commonError };\n  const inter = def.simulation.interactions[0];\n  const parsedQuiz = buildInteractionOptions(llm.interaction);\n  if (!parsedQuiz) return { def: null, reason: 'interaction' };\n  const correctSlot = inter.options.find(function (o) { return o.id === inter.correctOptionId; });\n  if (!correctSlot) return { def: null, reason: 'template correct slot' };\n  const wrongSlots = inter.options.filter(function (o) { return o.id !== inter.correctOptionId; });\n  const rebuilt = [];\n  correctSlot.label = parsedQuiz.correct.label;\n  correctSlot.isCorrect = true;\n  rebuilt.push(correctSlot);\n  for (let i = 0; i < wrongSlots.length && i < parsedQuiz.wrong.length; i += 1) {\n    wrongSlots[i].label = parsedQuiz.wrong[i].label;\n    wrongSlots[i].isCorrect = false;\n    rebuilt.push(wrongSlots[i]);\n  }\n  if (rebuilt.length < 3) return { def: null, reason: 'not enough options' };\n  inter.options = rebuilt;\n  inter.prompt = parsedQuiz.prompt;\n  return { def: def, reason: null };\n}\n\nfunction buildNewSimulation(llm, story, dateStr, seq) {\n  const sim = llm.simulation;\n  const candidateErrors = validateCandidateSim(sim);\n  if (candidateErrors.length > 0) return { def: null, reason: 'candidate: ' + candidateErrors.slice(0, 3).join('; ') };\n  const parsedQuiz = buildInteractionOptions(llm.interaction);\n  if (!parsedQuiz) return { def: null, reason: 'interaction' };\n  const assetById = {};\n  for (const a of CONTRACT.assets) assetById[a.id] = a;\n  const usedAssetIds = Array.from(new Set(sim.actorsSpec.map(function (s) { return s.assetId; })));\n  const assets = usedAssetIds.map(function (id) { return JSON.parse(JSON.stringify(assetById[id])); });\n  const actors = sim.actorsSpec.map(function (s) {\n    return {\n      id: s.id,\n      assetId: s.assetId,\n      role: s.role,\n      initialPosition: s.initialPosition,\n      initialRotation: s.initialRotation,\n      scale: s.scale,\n      tags: Array.isArray(s.tags) ? s.tags : [],\n    };\n  });\n  const options = [{ id: 'opt_1', label: parsedQuiz.correct.label, isCorrect: true, scoreDelta: 100 }];\n  parsedQuiz.wrong.forEach(function (o, i) {\n    options.push({ id: 'opt_' + (i + 2), label: o.label, isCorrect: false, scoreDelta: -25 });\n  });\n  const interaction = {\n    id: 'interaction_main',\n    type: 'multiple_choice',\n    appearsAt: sim.interactionAppearsAt,\n    prompt: parsedQuiz.prompt,\n    options: options,\n    correctOptionId: 'opt_1',\n  };\n  const timeline = sim.timeline.map(function (ev) {\n    return {\n      id: ev.id,\n      type: 'animate_actor',\n      actorId: ev.actorId,\n      track: ev.track,\n      keyframes: ev.keyframes,\n      interpolation: ev.interpolation === 'smooth' ? 'smooth' : 'linear',\n    };\n  });\n  timeline.push({\n    id: 'ev_show_interaction',\n    type: 'trigger',\n    at: sim.interactionAppearsAt,\n    trigger: { kind: 'show_interaction', interactionId: 'interaction_main' },\n  });\n  const def = {};\n  const commonError = applyCommonFields(def, llm, story, dateStr, seq, 'new_simulation');\n  if (commonError) return { def: null, reason: commonError };\n  def.simulation = {\n    pattern: sim.pattern,\n    durationSeconds: sim.durationSeconds,\n    world: {\n      environment: sim.world.environment,\n      roadType: sim.world.roadType,\n      weather: sim.world.weather,\n      timeOfDay: sim.world.timeOfDay,\n      units: 'meters',\n    },\n    camera: {\n      mode: sim.camera.mode,\n      position: sim.camera.position,\n      lookAt: sim.camera.lookAt,\n      fov: sim.camera.fov,\n    },\n    assets: assets,\n    actors: actors,\n    timeline: timeline,\n    interactions: [interaction],\n  };\n  return { def: def, reason: null };\n}\n\nfunction templatesByPattern(templateRows) {\n  const map = {};\n  const sorted = templateRows.slice().sort(function (a, b) { return String(a.id).localeCompare(String(b.id)); });\n  for (const row of sorted) {\n    if (row && row.pattern && row.definition && !map[row.pattern]) map[row.pattern] = row;\n  }\n  return map;\n}\n\nfunction fallbackTemplate(pattern, tplMap) {\n  const entry = CONTRACT.patterns.find(function (p) { return p.pattern === pattern; });\n  if (!entry) return null;\n  return tplMap[entry.fallbackPattern] || tplMap[pattern] || null;\n}\n\nfunction buildScenarioRow(llm, story, tplMap, dateStr, seq) {\n  if (!llm || typeof llm !== 'object') return null;\n  const pattern = llm.pattern;\n  if (!CONTRACT.patterns.some(function (p) { return p.pattern === pattern; })) return null;\n  let mode = llm.mode === 'new_simulation' && llm.simulation ? 'new_simulation' : 'overlay';\n  let built = null;\n  if (mode === 'new_simulation') {\n    built = buildNewSimulation(llm, story, dateStr, seq);\n    if (!built.def) {\n      mode = 'overlay';\n      built = buildOverlay(llm, story, fallbackTemplate(pattern, tplMap), dateStr, seq);\n    }\n  } else {\n    built = buildOverlay(llm, story, fallbackTemplate(pattern, tplMap), dateStr, seq);\n  }\n  if (!built.def) return null;\n  const finalErrors = validateDefinition(built.def);\n  if (finalErrors.length > 0) return null;\n  return {\n    id: built.def.id,\n    definition: built.def,\n    generation_mode: mode,\n    news_title: story.news_title,\n    news_url: story.news_url,\n    news_source: story.news_source,\n    news_published_at: story.news_published_at,\n    news_summary: story.news_summary,\n  };\n}\n\nfunction todayDateStr() {\n  const d = new Date();\n  return String(d.getUTCFullYear()) + pad2(d.getUTCMonth() + 1) + pad2(d.getUTCDate());\n}\n\nconst gen = parseOpenAI($input.first().json) || { items: [] };\nconst prev = $('Prep Top-Up').first().json.prev;\nconst tplMap = templatesByPattern(rowsOf('Fetch Templates'));\nconst dateStr = prev.dateStr || todayDateStr();\nconst newsPool = prev.newsPool || [];\nconst scenarios = (prev.scenarios || []).slice();\nconst usedIds = new Set(scenarios.map(function (s) { return s.id; }));\n// A news article is used for AT MOST one scenario ever: exclude URLs already\n// consumed in this run and every URL already stored in the DB.\nconst usedUrls = new Set(scenarios.map(function (s) { return String(s.news_url).toLowerCase(); }));\nfor (const dbUrl of rowsOf('Fetch Seen URLs').map(function (r) { return String(r.news_url || '').toLowerCase(); })) {\n  if (dbUrl) usedUrls.add(dbUrl);\n}\nconst available = newsPool.filter(function (s) {\n  return !usedUrls.has(String(s.news_url).toLowerCase());\n});\nlet seq = prev.nextSeq || scenarios.length + 1;\nfor (const item of (Array.isArray(gen.items) ? gen.items : [])) {\n  if (!item || typeof item !== 'object') continue;\n  item.mode = 'overlay';\n  // Prefer an unused real article; otherwise attribute a unique Google News\n  // search link per scenario so no source link ever repeats.\n  const slugKey = sanitizeSlug(item.slug || item.title || String(seq));\n  const story = available.length > 0 ? available.shift() : {\n    news_title: 'Tendencias de tránsito en El Salvador',\n    news_url: 'https://news.google.com/search?hl=es-419&gl=SV&q=' + encodeURIComponent('tránsito El Salvador ' + slugKey),\n    news_source: 'Google News',\n    news_published_at: null,\n    news_summary: null,\n  };\n  const urlKey = String(story.news_url).toLowerCase();\n  if (usedUrls.has(urlKey)) continue;\n  const row = buildScenarioRow(item, story, tplMap, dateStr, seq);\n  if (row && !usedIds.has(row.id)) {\n    usedIds.add(row.id);\n    usedUrls.add(urlKey);\n    scenarios.push(row);\n    seq += 1;\n  }\n}\nreturn [{ json: { scenarios: scenarios } }];\n"
      }
    },
    {
      "name": "Finalize Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        -80
      ],
      "alwaysOutputData": true,
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "\nconst j = $input.first().json;\nconst scenarios = Array.isArray(j.scenarios) ? j.scenarios : [];\nconst seen = new Set();\nconst seenUrls = new Set();\nconst payload = [];\nfor (const s of scenarios) {\n  if (!s || !s.id || seen.has(s.id)) continue;\n  const urlKey = String(s.news_url || '').toLowerCase();\n  if (seenUrls.has(urlKey)) continue;\n  seen.add(s.id);\n  seenUrls.add(urlKey);\n  payload.push({\n    id: s.id,\n    definition: s.definition,\n    generation_mode: s.generation_mode,\n    news_title: s.news_title,\n    news_url: s.news_url,\n    news_source: s.news_source,\n    news_published_at: s.news_published_at,\n    news_summary: s.news_summary,\n  });\n}\nif (payload.length === 0) {\n  throw new Error('No valid scenarios were generated in this run.');\n}\nreturn [{ json: { payload: payload, count: payload.length } }];\n"
      }
    },
    {
      "name": "Insert Scenarios",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1780,
        -80
      ],
      "parameters": {
        "method": "POST",
        "url": "https://ompcrnwvtdjdwrcoopkh.supabase.co/rest/v1/news_scenarios?on_conflict=id",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "resolution=ignore-duplicates"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.payload) }}",
        "options": {
          "timeout": 60000
        }
      },
      "credentials": {
        "supabaseApi": {
          "id": "__SUPABASE_CRED_ID__",
          "name": "DriverLab Supabase"
        }
      }
    }
  ],
  "connections": {
    "Daily 6am SV": {
      "main": [
        [
          {
            "node": "RSS Accidentes",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Seguridad Vial",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Vial General",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS elsalvador.com",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Run Webhook": {
      "main": [
        [
          {
            "node": "RSS Accidentes",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Seguridad Vial",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Vial General",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS elsalvador.com",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Accidentes": {
      "main": [
        [
          {
            "node": "Merge Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Seguridad Vial": {
      "main": [
        [
          {
            "node": "Merge Feeds",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "RSS Vial General": {
      "main": [
        [
          {
            "node": "Merge Feeds",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "RSS elsalvador.com": {
      "main": [
        [
          {
            "node": "Merge Feeds",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Merge Feeds": {
      "main": [
        [
          {
            "node": "Normalize Stories",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Stories": {
      "main": [
        [
          {
            "node": "Fetch Seen URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Seen URLs": {
      "main": [
        [
          {
            "node": "Fetch Templates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Templates": {
      "main": [
        [
          {
            "node": "Prep Triage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Triage": {
      "main": [
        [
          {
            "node": "OpenAI Triage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Triage": {
      "main": [
        [
          {
            "node": "Prep Generate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Generate": {
      "main": [
        [
          {
            "node": "OpenAI Generate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Generate": {
      "main": [
        [
          {
            "node": "Build & Validate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build & Validate": {
      "main": [
        [
          {
            "node": "Enough Scenarios?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enough Scenarios?": {
      "main": [
        [
          {
            "node": "Finalize Payload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prep Top-Up",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Top-Up": {
      "main": [
        [
          {
            "node": "OpenAI Top-Up",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Top-Up": {
      "main": [
        [
          {
            "node": "Build & Validate Top-Up",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build & Validate Top-Up": {
      "main": [
        [
          {
            "node": "Finalize Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Finalize Payload": {
      "main": [
        [
          {
            "node": "Insert Scenarios",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/El_Salvador",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all"
  }
}
